/*
    @author Wetwer
    @project movie-score
    @date 29.05.2018
*/

* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    background-color: #282c34;
}

.darker {
    background: whitesmoke;
}

.moviecard {
    transition: 0.3s;
}

.moviecard:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3e4450;
}

.nodec {
    text-decoration: none;
}

.badge {
    background: blue;
    color: white;
    padding: 5px 10px;
    border-radius: .25rem;
    text-align: center;
}

.quality-badge {
    position: absolute;
    right: 7px;
    top: 10px;
    background: black;
    text-align: center;
    border-radius: .25rem;
    color: white;
    padding: 5px 10px;
}

.quality-badge-red {
    position: absolute;
    right: 7px;
    top: 10px;
    background: red;
    text-align: center;
    border-radius: .25rem;
    color: white;
    padding: 5px 10px;
}

.remove-time {
    position: absolute;
    left: 7px;
    top: 10px;
    text-align: center;
}

.place-badge {
    position: absolute;
    left: 7px;
    top: 10px;
    background: darkblue;
    text-align: center;
    color: white;
    padding: 5px 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    #mobile-nav {
        display: block;
    }

    #desktop-nav {
        display: none;
    }
}

@media (min-width: 1170px) {
    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        display: block;
    }
}

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.noHightlight {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}


@keyframes movieCardAnimation {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logoLoad {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-logo {
    animation: logoLoad .3s forwards 0s linear;
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.row {
    margin: 0 !important;
}

.active {
    background: #333842 !important;
}

.list-group-item {
    background-color: #333842;
}


.main-nav {
    padding: .25rem;
}

.main-nav:hover {
    border-radius: .25rem;
    background-color: #333842;
}

.main-nav-head {
    padding: .50rem;
}

.main-nav-head:hover {
    border-radius: .25rem;
    background-color: #333842;
}

.padding-0 {
    padding-right:0;
    padding-left:0;
}
