* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: url("https://i.imgur.com/qV8wWKL.jpg") no-repeat fixed;
    background-size: 100%;
}

.darker {
    background: whitesmoke;
}

.moviecard:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moviecard {
    transition: 0.3s;
}

.nodec {
    text-decoration: none;
}