* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: url("https://i.imgur.com/qV8wWKL.jpg") no-repeat fixed;
    background-size: 100%;
}

.darker {
    background: whitesmoke;
}

.moviecard:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moviecard {
    transition: 0.3s;
}

.nodec {
    text-decoration: none;
}

.badge {
    background: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}

.quality-badge {
    position: absolute;
    right: 7px;
    top: 10px;
    background: black;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
}

.place-badge {
    position: absolute;
    left: 7px;
    top: 10px;
    background: darkblue;
    text-align: center;
    color: white;
    padding: 5px 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}