/*
    @author Wetwer
    @project movie-score
    @date 29.05.2018
*/

* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    background-color: #282c34;
    padding: 0;
    margin: 0;
}

.darker {
    background: whitesmoke;
}

.moviecard {
    transition: 0.3s;
}

.moviecard:hover {
    transition: 0.3s;
    background-color: #3e4450;
}

.nodec {
    text-decoration: none;
}

.badge {
    background: blue;
    color: white;
    padding: 5px 10px;
    border-radius: .25rem;
    text-align: center;
}

.quality-badge {
    transition: .5s ease;
    z-index: 100;
    position: absolute;
    right: 7px;
    top: 10px;
    background: black;
    text-align: center;
    border-radius: .25rem;
    color: white;
    padding: 5px 10px;
}

.quality-badge-red {
    transition: .5s ease;
    z-index: 100;
    position: absolute;
    right: 7px;
    top: 10px;
    background: red;
    text-align: center;
    border-radius: .25rem;
    color: white;
    padding: 5px 10px;
}

.remove-time {
    transition: .5s ease;
    z-index: 100;
    position: absolute;
    left: 7px;
    top: 10px;
    text-align: center;
}

.place-badge {
    transition: .5s ease;
    z-index: 100;
    position: absolute;
    left: 7px;
    top: 10px;
    background: darkblue;
    text-align: center;
    color: white;
    padding: 5px 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    #mobile-nav {
        display: block;
    }

    #desktop-nav {
        display: none;
    }
}

@media (min-width: 1170px) {
    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        display: block;
    }
}

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.noHightlight {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}


@keyframes movieCardAnimation {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logoLoad {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-logo {
    animation: logoLoad .3s forwards 0s linear;
}

.white {
    color: white;
    text-shadow: 1px 1px 6px black;
}

.black {
    color: black;
    text-shadow: 1px 1px 6px white;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.row {
    margin: 0 !important;
}

.active {
    background: #333842 !important;
}

.list-group-item {
    background-color: #333842;
}


.main-nav {
    padding: .25rem .25rem .25rem 1rem;
}

.user-la-nav {
    padding: .25rem .25rem .25rem 1rem;
}

.main-nav:hover {
    border-radius: .25rem;
    background-color: #333842;
}

.main-nav-head {
    padding: .50rem 1rem;
    margin-bottom: .5rem;
}

.main-nav-head:hover {
    border-radius: .25rem;
    background-color: #333842;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.right-nav {
    padding: .25rem .25rem .25rem 1rem;
}

.right-nav:hover {
    border-radius: .25rem;
    background-color: #333842;
}

.right-nav:focus {
    border-radius: .25rem;
    background-color: #333842;
}

.right-nav:focus a {
    outline: none;
}

.right-nav-person {
    padding: 1rem;
}

.right-nav-head {
    display: block;
    padding: .50rem;
}

.right-nav-head:hover {
    border-radius: .25rem;
    background-color: #333842;
}

#main-content {
    height: 100vh;
    overflow-y: auto;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e4451;
    border-radius: .25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #49505f;
}

.link-btn-person {
    padding: .75rem;
    border-radius: .25rem;
    color: white;
    background-color: #282c34;
    text-decoration: none;
}

.link-btn-person a {
    color: white;
    text-decoration: none;
}

.link-btn-person:hover {
    color: white;
    background-color: #49505e;
    text-decoration: none;
}

.btn-dark {
    background-color: #3e4451;
    border: none;
}

.btn-dark:hover {
    background-color: #49505e;
    border: none;
}

.link-btn {
    white-space: nowrap;
    transition: .2s;
    padding: .75rem;
    border-radius: .25rem;
    color: white;
    background-color: #3e4451;
    text-decoration: none;
}

.link-btn a {
    transition: .2s;
    color: white;
    text-decoration: none;
}

.link-btn:hover {
    transition: .2s;
    color: white;
    background-color: #49505e;
    text-decoration: none;
}

.link-btn:focus {
    transition: .2s;
    box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, .25);
}

.btn:active {
    box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, .25) !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, .25) !important;
}

.page-footer {
    position: fixed;
    bottom: 20px;
}

.alert-danger {
    color: white;
    background-color: #6c545c;
}

.alert-secondary {
    color: white;
    background-color: #545c6c;
}

.alert-info {
    color: white;
    background-color: #54686c;
}

.alert-success {
    color: white;
    background-color: #54686c;
}

.alert-warning {
    color: white;
    background-color: #6c6454;
}

.progress {
    background-color: #545c6c;
}

.progress-bar-animated {
    background-color: #00203f;
}

.progress-bar {
    background-color: #00203f;
}

.nav-top-row {
    padding: 1rem 0 0;
}

.size-in {
    margin-left: 1rem;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
}

.img-hover-zoom:hover .quality-badge {
    opacity: 0.3;
}

.img-hover-zoom:hover .quality-badge-red {
    opacity: 0.3;
}

.img-hover-zoom:hover .place-badge {
    opacity: 0.3;
}
