<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Score</title>
    <meta content="noindex" name="robots">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <tr>
        <th>Server</th>
        <th>Url</th>
        <th>Status</th>
    </tr>
    <tr>
        <td><a href="https://scorewinner.ch/games/minecraft.php" target="_parent">Minecraft Server</a></td>
        <td>scorewinner.ch</td>
        <td style="color: forestgreen" th:if="${minecraft} == 'Online'" th:text="${minecraft}"></td>
        <td style="color: red" th:if="${minecraft} == 'Offline'" th:text="${minecraft}"></td>
    </tr>
    <tr>
        <td><a href="https://scorewinner.ch/games/killingfloor.php" target="_parent">Killing Floor 2 Server</a></td>
        <td>scorewinner.ch:7777</td>
        <td style="color: forestgreen" th:if="${steam} == 'Online'" th:text="${steam}"></td>
        <td style="color: red" th:if="${steam} == 'Offline'" th:text="${steam}"></td>
    </tr>
    <tr>
        <td><a href="http://games.scorewinner.ch" target="_blank">Pterodactyl</a></td>
        <td>games.scorewinner.ch</td>
        <td style="color: forestgreen" th:if="${pterodactyl} == 'Online'" th:text="${pterodactyl}"></td>
        <td style="color: red" th:if="${pterodactyl} == 'Offline'" th:text="${pterodactyl}"></td>
    </tr>
    <tr>
        <td><a href="http://movie.scorewinner.ch" target="_blank">MovieScore</a></td>
        <td>movie.scorewinner.ch</td>
        <td style="color: forestgreen" th:if="${moviedb} == 'Online'" th:text="${moviedb}"></td>
        <td style="color: red" th:if="${moviedb} == 'Offline'" th:text="${moviedb}"></td>
    </tr>
    <tr>
        <td><a href="http://scorewinner.ch:8090" target="_blank">Hermann</a></td>
        <td>scorewinner.ch:8090</td>
        <td style="color: forestgreen" th:if="${hermann} == 'Online'" th:text="${hermann}"></td>
        <td style="color: red" th:if="${hermann} == 'Offline'" th:text="${hermann}"></td>
    </tr>

</table>
</body>
