<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

<style>
    * {
        font-family: 'Raleway', sans-serif;
    }
</style>
<div style="padding: 5px">
    <div th:if="${currentUser != null}">
        <a>
            Currently logged in:
            <a class="btn btn-link" target="_parent" th:href="'http://scorewinner.ch:8080/user/' + ${currentUser.id}"
               th:text="${currentUser.name}">
            </a>
        </a>
    </div>
    <a th:if="${currentUser == null}" target="_parent" href="http://scorewinner.ch/login.php"
       class="btn btn-outline-primary float-right">Sign In</a>
</div>
