<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<h1>About</h1>
<div class="card">
    <div class="card-body">
        <p>Bli bla blub this is a Movie Streaming Website. Works best with a good internet connection</p>
        <p>
            This Application is Invite Only. If you have anyone who wants an Account be sure he is reliable and won't
            sue me or do something else stupid. <a href="/request/create">Request new User</a>
        </p>
        <p>Join our <a href="https://discord.gg/6z9Eybe" target="_blank">Discord</a> or
            <a href="https://steamcommunity.com/groups/scoreserver">Steam Group</a></p>
        <p>Powered by <a href="https://scorewinner.ch">scorewinner.ch</a></p>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 5px">
                <div class="card">
                    <div class="card-body">
                        <h3>Currently in Database</h3>
                        <table class=" table">
                            <tr>
                                <td>Movies</td>
                                <td th:text="${movies}"></td>
                            </tr>
                            <tr>
                                <td>Series</td>
                                <td th:text="${series}"></td>
                            </tr>
                            <tr>
                                <td>Serie Episodes</td>
                                <td th:text="${episodes}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 5px">
                <div class="card">
                    <div class="card-body">
                        <h3>Latest Imports</h3>
                        <table class=" table">
                            <tr th:each="log : ${updateLogs}">
                                <td th:text="${#dates.format(log.timestamp, 'dd.MM.yyyy HH:mm')}"></td>
                                <td th:text="${log.getTypeLong()}"></td>
                                <td th:if="${log.completed}" class="alert alert-success">Finished</td>
                                <td th:if="${!log.completed}" class="alert alert-warning">Running</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 5px">
                <div class="card">
                    <div class="card-body">
                        <h3>New Movies</h3>
                        <ul class="list-group">
                            <li th:each="movie : ${latest}" class="list-group-item">
                                <a th:href="'/movie/' + ${movie.id}"
                                   th:text="${movie.title} + ' (' + ${movie.year} + ')'"></a>
                                <span th:text="${#dates.format(movie.timestamp, 'dd.MM.yyyy HH:mm')}"
                                      class="float-right"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h3>Browser Support</h3>
                <table class="table">
                    <tr>
                        <th>Browser</th>
                        <th>Tested</th>
                        <th>Should Work</th>
                    </tr>
                    <tr>
                        <td>Chrome (recomended)</td>
                        <td class="alert alert-success">Tested</td>
                        <td class="alert alert-success">Works</td>
                    </tr>
                    <tr>
                        <td>Chrome Android (recomended)</td>
                        <td class="alert alert-success">Tested</td>
                        <td class="alert alert-success">Works</td>
                    </tr>
                    <tr>
                        <td>Opera</td>
                        <td class="alert alert-success">Tested</td>
                        <td class="alert alert-success">Works</td>
                    </tr>
                    <tr>
                        <td>Firefox</td>
                        <td class="alert alert-warning">Partialy Tested</td>
                        <td class="alert alert-success">Works</td>
                    </tr>
                    <tr>
                        <td>Safari Mac</td>
                        <td class="alert alert-danger">Not Tested</td>
                        <td class="alert alert-warning">Known Bugs</td>
                    </tr>
                    <tr>
                        <td>Safari iPhone</td>
                        <td class="alert alert-danger">Not Tested</td>
                        <td class="alert alert-warning">Known Bugs</td>
                    </tr>
                    <tr>
                        <td>IE/Edge</td>
                        <td class="alert alert-danger">Not Tested</td>
                        <td class="alert alert-danger">Lots of Bugs</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <p>
            <a class="btn btn-success" href="https://paypal.me/pools/c/86A2S1yQrF" target="_blank">Donate</a>
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img src="https://avatars3.githubusercontent.com/u/25004579" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Wetwer</h5>
                <p class="card-text">Developer</p>
                <a href="https://github.com/Wetwer">Github</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="https://avatars3.githubusercontent.com/u/19328039" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Scorewinner</h5>
                <p class="card-text">Investor</p>
                <a href="https://github.com/Scorewinner">Github</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="https://avatars3.githubusercontent.com/u/24542471" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Thellux</h5>
                <p class="card-text">Sponsor</p>
                <a href="https://github.com/Thellux">Github</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="https://avatars1.githubusercontent.com/u/32476926" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">YKing</h5>
                <p class="card-text">Server Support</p>
                <a href="https://github.com/YKaelin">Github</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">License</div>
    <div class="card-body">
        <pre>
MIT License

Copyright (c) 2018 Wetwer <a href="https://github.com/score-server/movie-score">movie-score</a>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
        </pre>
    </div>
</div>
<br>
<a class="btn btn-primary" href="/">Back</a>