<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<h1>About</h1>
<div class="card card-body">
    <a>
        If you want an account contact Wetwer via Mail, Discord, Whatsapp or Personal. If i dont know you, you wont get
        a login...
    </a>
    <br>
    <div class="row card-body">
        <table class="col-sm-4 table">
            <tr>
                <th>Currently Database:</th>
                <th></th>
            </tr>
            <tr>
                <td>Movies</td>
                <td th:text="${movies}"></td>
            </tr>
            <tr>
                <td>Serie Episodes</td>
                <td th:text="${episodes}"></td>
            </tr>
        </table>
    </div>

    <p>Donate Money for further development on this Site!</p>
    <a href="https://www.paypal.com/pools/c/86A2S1yQrF" target="_blank">Donate</a>
</div>
<br>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/25004579">
            <div class="card-body">
                <h5 class="card-title">Wetwer</h5>
                <p class="card-text">Developer</p>
                <a href="https://github.com/Wetwer">Github</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/19328039">
            <div class="card-body">
                <h5 class="card-title">Scorewinner</h5>
                <p class="card-text">Investor</p>
                <a href="https://github.com/Scorewinner">Github</a>
            </div>
        </div>
    </div>
</div>
<br>
<a class="btn btn-primary" href="/">Back</a>