<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Announcement Cards</h1>

<div class="card card-body">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Img</th>
            <th>Url</th>
            <th>Color</th>
            <th>
                <a class="float-right">Action</a>
            </th>
        </tr>
        <tr th:each="announcement : ${announcements}">
            <td th:text="${announcement.title}"></td>
            <td th:text="${announcement.imgUrl}"></td>
            <td th:text="${announcement.url}"></td>
            <td>
                <form method="post" th:action="'/announcement/' + ${announcement.id} + '/color'"
                      th:id="'color' + ${announcement.id}">
                    <select class="form-control" name="colorClass"
                            th:onchange="'document.getElementById(\'color' + ${announcement.id} + '\').submit();'">
                        <option th:selected="${announcement.colorClass} == 'black'" value="black">Black</option>
                        <option th:selected="${announcement.colorClass} == 'white'" value="white">White</option>
                        <option th:selected="${announcement.colorClass} == 'blue'" value="blue">Blue</option>
                        <option th:selected="${announcement.colorClass} == 'red'" value="red">Red</option>
                    </select>
                </form>
            </td>
            <td>
                <form class="float-right" method="post" th:action="'/announcement/' + ${announcement.id} + '/delete'">
                    <button class="btn btn-danger" type="submit">&times;</button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <button class="btn btn-primary" data-target="#add" data-toggle="modal" type="button">
            Add Announcement
        </button>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="add" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/announcement/add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Add Announcement</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>Title</td>
                            <td>
                                <input class="form-control" name="title" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                <input class="form-control" name="imgUrl" type="url">
                            </td>
                        </tr>
                        <tr>
                            <td>Url</td>
                            <td>
                                <input class="form-control" name="url" type="url">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
