<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<h1 class="size-in">Blog/News</h1>

<div class="alert alert-success" th:if="${param.new}">
    Saved new Post
</div>

<div class="alert alert-success" th:if="${param.deleted}">
    Post deleted
</div>

<div class="alert alert-danger" th:if="${param.notdeleted}">
    Post not deleted
</div>
<br>
<a class="link-btn size-in" href="/blog/new" th:if="${currentUser.isAdmin()}">
    <i class="fas fa-plus"></i>
    New Post
</a>
<br>
<br>

<div class="col-sm-12" style="margin-bottom: 20px" th:each="blog : ${blogs}">
    <div class="card">
        <div class="card-header">
            <b th:text="${blog.title}"></b>
            <a class="float-right" th:text="${#dates.format(blog.timestamp, 'dd.MM.yyyy HH:mm')}"></a>
        </div>
        <div class="card-body">
            <p th:utext="${blog.text}"></p>
            <small class="text-muted">
                <span>By </span>
                <a th:href="'/user/' + ${blog.user.id}" th:text="${blog.user.name}"></a>
                <form class="float-right" method="post" th:action="'/blog/' + ${blog.id} + '/delete'"
                      th:if="${currentUser.isAdmin()}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </small>
        </div>
    </div>
</div>
<br>
<a class="link-btn size-in" href="/">Back</a>
