<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Control Center</h1>

<div th:if="${running}">
    <div class="alert alert-warning">
        Import in progress
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25"
             aria-valuemin="0" aria-valuemax="100" id="progress">
        </div>
    </div>
    <br>
    <script type="application/javascript">

        var importBlub = 0;

        setInterval(function () {
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/reactive/importstatus",
                success: function (responseText) {
                    if (importBlub <= responseText) {
                        importBlub = responseText;
                        document.getElementById('progress').style.width = responseText + '%'
                        document.getElementById('progress').innerText = responseText + '%'
                    } else {
                        location.reload();
                    }
                }
            });
        }, 500);
    </script>
</div>


<div class="card">
    <div class="card-header">Import</div>
    <div class="card-body">
        <div class="card card-body">
            <ol class="breadcrumb btn" data-toggle="modal" data-target="#changeMoviePath">
                <li class="breadcrumb-item" th:text="${moviePath}"></li>
            </ol>
            <form action="/import/movie" method="post">
                <button class="btn btn-primary" th:disabled="${running}">Import Movies</button>
            </form>
            <br>
            <form action="/import/movie/update" method="post">
                <button class="btn btn-primary" th:disabled="${running}">Update Movies</button>
            </form>
        </div>
        <br>
        <div class="card card-body">
            <ol class="breadcrumb btn" data-toggle="modal" data-target="#changeSeriePath">
                <li class="breadcrumb-item" th:text="${seriePath}"></li>
            </ol>
            <form action="/import/serie" method="post">
                <button class="btn btn-primary" th:disabled="${running}">Import Series</button>
            </form>
            <br>
            <form action="/import/serie/update" method="post">
                <button class="btn btn-primary" th:disabled="${running}">Update Series</button>
            </form>

        </div>
        <br>
        <form action="/import/reset" method="post">
            <button class="btn btn-danger">Reset Import deactivation</button>
        </form>
        <br>
        <a href="/settings/error" class="btn btn-primary">Console Logs</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Import Logs
        <form action="/settings/clear" method="post" class="float-right">
            <button type="submit" class="btn btn-danger">Clear</button>
        </form>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li th:each="log : ${importLogs}" class="list-group-item">
                <a th:if="${log.type} == 'ok'" th:utext="${log.log}"></a>

                <a th:if="${log.type} == 'serie'" th:utext="${log.log}"></a>

                <a th:if="${log.type} == 'nok'" th:utext="${log.log}" style="color: red;"></a>

                <a th:text="${#dates.format(log.timestamp, 'dd.MM.yyyy HH:mm')}" class="float-right"></a>
            </li>
        </ul>
    </div>
</div>
<br>

<div class="card">
    <div class="card-header" id="request">
        Requests
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li th:each="request : ${requests}" th:switch="${request.active}" class="list-group-item">
                <div>
                    <div th:case="1">
                        <span th:text="${request.user.name}  + ': ' +${request.request}"></span>
                        <div class="float-right">
                            <form th:action="'/request/' + ${request.id} + '/close'" method="post"
                                  style="display: inline">
                                <button class="btn btn-secondary"><i class="far fa-square"></i></button>
                            </form>
                            <form th:action="'/request/' + ${request.id} + '/delete'" method="post"
                                  style="display: inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                            </form>
                        </div>
                    </div>
                    <div th:case="0">
                        <span th:text="${request.user.name}  + ': ' + ${request.request}"></span>
                        <div class="float-right">
                            <form th:action="'/request/' + ${request.id} + '/open'" method="post"
                                  style="display: inline">
                                <button class="btn btn-success"><i class="far fa-check-square"></i></button>
                            </form>
                            <form th:action="'/request/' + ${request.id} + '/delete'" method="post"
                                  style="display: inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Activity Logs
        <form action="/settings/clearactivity" method="post" class="float-right">
            <button type="submit" class="btn btn-danger">Clear</button>
        </form>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li th:each="log : ${activityLogs}" class="list-group-item">
                <a th:text="${log.log}"></a>
                <a th:text="${#dates.format(log.timestamp, 'dd.MM.yyyy HH:mm')}" class="float-right"></a>
            </li>
        </ul>
    </div>
</div>


<div class="modal fade" id="changeMoviePath" tabindex="-1" role="dialog" aria-labelledby="moviepath"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="password">Change Moviepath</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/import/path/movie" method="post">
                <div class="modal-body">
                    <label for="moviepath">Movie Path:</label>
                    <input class="form-control" id="moviepath" type="text" th:value="${moviePath}" name="path">
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="changeSeriePath" tabindex="-1" role="dialog" aria-labelledby="seriepath"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Seriepath</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/import/path/serie" method="post">
                <div class="modal-body">
                    <label for="moviepath">Movie Path:</label>
                    <input class="form-control" type="text" th:value="${seriePath}" name="path">
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>