<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Create Request</h1>
<div class="card card-body">
    <form th:action="'/request/create/' + ${currentUser.id}" method="post">
        <input class="form-control" type="text" name="request" placeholder="Movie/Serie/Feature Request" required><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
<a href="https://github.com/score-server/movie-score/issues/new" target="_blank">
    Feature Request / Bug Report (Github)
</a>
<div th:if="${currentUser.isAdmin()}">
    <br>
    <a class="btn btn-primary" href="/settings">Request List</a>
</div>
