<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Create Request</h1>


<div class="card">
    <div class="card-header">
        Movie / Serie / Feature Request
    </div>
    <div class="card-body">
        <form method="post" th:action="'/request/create/' + ${currentUser.id} + '?type=request'">
            <input class="form-control" name="request" placeholder="Request" required type="text">
            <br>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Request Invite
    </div>
    <div class="card-body">
        <p>This Application is Invite Only. If you have anyone who wants an Account be sure he is reliable and won't
            sue us or do something else stupid.</p>
        <form method="post" th:action="'/request/create/' + ${currentUser.id} + '?type=user'">
            <input class="form-control" name="request" placeholder="Username" required type="text">
            <!--<input type="checkbox" id="reliable" class="custom-control-input" required>-->
            <!--<label for="reliable">Reliable</label>-->

            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="customCheck1" required type="checkbox">
                <label class="custom-control-label" for="customCheck1">Reliable</label>
            </div>
            <br>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<br>
<a href="https://github.com/score-server/movie-score/issues/new" target="_blank">
    Feature Request / Bug Report (Github)
</a>
<div th:if="${currentUser.isAdmin()}">
    <br>
    <a class="btn btn-primary" href="/settings">Request List</a>
</div>
