<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Create Request</h1>
<div class="card card-body">
    <form th:action="'/request/create/' + ${currentUser.id}" method="post">
        <input class="form-control" type="text" name="request" placeholder="Movie/Serie Request" required><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<div th:if="${currentUser?.role} == 2">
    <br>
    <a class="btn btn-primary" href="/settings">Request List</a>
</div>
