<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<h1>Downloads</h1>
<div class="card">
    <div class="card-body">
        <h3>Movie-Score-Desktop</h3>
        <ul class="list-group">
            <div class="list-group-item">
                <a target="_blank" th:href="${windows}" class="link-btn float-left">
                    <i class="fab fa-windows"></i>
                    Windows Download
                </a>
                <button class="btn btn-primary float-right" data-target="#windows" data-toggle="modal"
                        th:if="${currentUser?.isAdmin()}">
                    <i class="far fa-edit"></i>
                </button>
            </div>
            <div class="list-group-item">
                <a target="_blank" th:href="${mac}" class="link-btn float-left">
                    <i class="fab fa-apple"></i>
                    Mac Download
                </a>
                <button class="btn btn-primary float-right" data-target="#mac" data-toggle="modal"
                        th:if="${currentUser?.isAdmin()}">
                    <i class="far fa-edit"></i>
                </button>
            </div>
        </ul>
        <br>
        <div class="text-center">
            <img src="https://i.imgur.com/BvfJEmO.jpg"
                 style="border-radius: .25rem;     box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);"
                 width="50%">
            <p>movie-score-desktop</p>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Installation</div>
    <div class="card-body">
    <pre class="text-white">
Windows:
If you use windows 8.1 or windows 10, it may happen that a this massage will be shown:
<img src="https://i.imgur.com/gkSREBI.png" style="max-width: 100%">
if you want to start the setup, just click on "more informations"  and click on "run anyways"
Cause: this may happen because we didn't sign the application with a valid certificate

MacOS:
1) Download the two Packages by pressing the download button (MovieScore.7z.001 and MovieScore.7z.002)
2) Download "The Unarchiver" from the Mac Store. (Is needed for the extraction of the packages)
3) If the installation of "The Unarchiver" completed successfully, double-click on both packages (MovieScore.7z.001 and MovieScore.7z.002). This will start the extraction
4)If the extraction of the packages (MovieScore.7z.001 and MovieScore.7z.002) completed successfully, the MovieScore Installer should appear.
5) Install MovieScore
</pre>
    </div>
</div>
<br>
<div class="card card-body">
    <p>Reguarding Feedback or Errors with the Movie-Score-Desktop please contact YKing</p>
    <div>
        <a class="btn btn-secondary" href="https://discord.gg/rf3JRfW" target="_blank">
            <i class="fab fa-discord"></i> ScoreServer
        </a>
    </div>
</div>
<br>
<a class="btn btn-primary" href="/">Back</a>

<div aria-hidden="true" aria-labelledby="windows" class="modal fade" id="windows" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set Windows Download Path</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="'/download/windows'">
                <div class="modal-body">
                    <input class="form-control" name="path" required th:value="${windows}" type="text">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="mac" class="modal fade" id="mac" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set Mac Download Path</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="'/download/mac'">
                <div class="modal-body">
                    <input class="form-control" name="path" required th:value="${mac}" type="text">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
