<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<h1>Edit List</h1>
<link rel="stylesheet" th:href="'../../style.css'">
<link rel="stylesheet" th:href="'../../menthe-bootstrap.css'">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="card">
    <div class="card-header">
        Attributes
    </div>
    <div class="card-body">
        <form method="post" th:action="'/timeline/editatt/' + ${timeline.id}">
            <input class="form-control" name="title" th:value="${timeline.title}" type="text">
            <br>
            <textarea class="form-control" name="description" th:text="${timeline.description}"></textarea>
            <br>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">Movies</div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th width="10%">Place</th>
                <th width="10%">Img</th>
                <th width="60%">Movie</th>
                <th>Year</th>
                <th></th>
            </tr>
            <tr th:each="moviePar : ${timeline.listMovies}">
                <td th:text="${moviePar.place}"></td>
                <td>
                    <img class="card" style="max-height: 40px; min-height: 40px" th:src="${moviePar.movie.caseImg}"/>
                </td>
                <td>
                    <a th:text="${moviePar.movie.title}"></a>
                </td>
                <td th:text="${moviePar.movie.year}"></td>
                <td>
                    <form class="float-right" method="post" th:action="'/timeline/delete/movie/' + ${moviePar.id}">
                        <button class="btn btn-danger" type="submit">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                </td>
            </tr>
            <form method="post" th:action="'/timeline/edit/' + ${timeline.id}">
                <tr>
                    <td>
                        <input class="form-control" name="place" required th:value="${nextListPlace}" type="number"/>
                    </td>
                    <td colspan="2">
                        <select autofocus class="form-control" name="movie" required>
                            <option disabled>Chose Movie...</option>
                            <option th:each="movie : ${movies}" th:text="${movie.title} + ' ' + ${movie.year}"
                                    th:value="${movie.id}"></option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </td>
                </tr>
            </form>
        </table>
        <br>
        <form class="form" method="post" th:action="'/timeline/delete/' + ${timeline.id}">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
<br>
<a class="btn btn-primary" th:href="'/list/' + ${timeline.id}">Back</a>
