<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' href='https://cdn.plyr.io/3.2.4/plyr.css'>
<script src='https://cdn.plyr.io/3.2.4/plyr.js'></script>

<link rel="stylesheet" th:href="'../plyr/style.css'">
<script th:src="'../plyr/index.js'"></script>

<script type="application/javascript">
    $(window).bind("load", function () {
        player.currentTime = [[${time}]]
    });
</script>

<div th:switch="${currentUser.videoPlayer}">
    <video th:case="'html5'" controls crossorigin playsinline th:poster="${episode.season.serie.backgroundImg}"
           width="100%">
        <source th:src="'/video/episode/' + ${episode.id}">
    </video>
    <video th:case="*" controls crossorigin playsinline th:poster="${episode.season.serie.backgroundImg}" id="player">
        <source th:src="'/video/episode/' + ${episode.id}">
    </video>
</div>
<br>
<div class="card card-body">
    <h1 th:text="${episode.season.serie.title} + ' Season ' + ${episode.season.season}
    + ' Episode ' + ${episode.episode}"></h1>
    <p th:text="'Quality: ' + ${episode.quality}"></p>
    <!--<a class="float-right" th:href="'/episode/' + ${nextEpisode.id}">Next Episode</a>-->
    <p>Genres:
        <span th:each="genre : ${episode.season.serie.genres}">
            <a th:text="${genre.name}" th:href="'/serie?genre=' + ${genre.name}" class="badge"
               style="color: white;"></a>
        </span>
    </p>
</div>
<br>
<ul class="list-group">
    <li class="list-group-item active">Comments</li>
    <li th:each="comment:${comments}" class="list-group-item">
        <a th:text="${comment.user.name}" th:href="'/user/' + ${comment.user.id}"></a>
        <span th:text="': ' + ${comment.comment}"></span>
    </li>
</ul>

<br>

<form th:action="'/comment/add/episode?userId=' + ${currentUser.id} + '&episodeId=' + ${episode.id}" method="post">
    <textarea th:placeholder="'Comment as ' + ${currentUser.name}" name="comment" class="form-control"
              required></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Save Comment</button>
</form>
<br>
<a class="btn btn-primary" th:href="'/season/' + ${episode.season.id}">Back</a>
<script type="application/javascript">
    window.onbeforeunload = function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/time/episode",
            data: {
                userId: [[${currentUser.id}]],
                episodeId: [[${episode.id}]],
                time: player.currentTime
            }
        });
    };
</script>