<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1 th:text="'Episode ' + ${episode.season.serie.title}"></h1>
<a th:href="'/season/' + ${episode.season.id}">View Episodes</a>
<br>
<img class="img-thumbnail" th:src="${episode.season.serie.caseImg}" width="100px">
<br>
<br>
<ul class="list-group">
    <li class="list-group-item active">Comments</li>
    <li class="list-group-item" th:each="comment:${comments}">
        <a th:href="'/user/' + ${comment.user.id}" th:text="${comment.user.name}"></a>
        <span th:text="': ' + ${comment.comment}"></span>
    </li>
</ul>

<br>

<form th:action="'/comment/add/episode?userId=' + ${currentUser.id} + '&episodeId=' + ${episode.id}" method="post">
    <textarea name="comment" class="form-control" th:placeholder="'Comment as ' + ${currentUser.name}" required></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Save Comment</button>
</form>
<br>
<a href="/">Back</a>