<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css"/>
<script src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js"></script>
<video id="movie" th:src="'/video/episode/' + ${episode.id}" controls width="100%"></video>
<br>
<div class="card card-body">
    <h1 th:text="${episode.season.serie.title} + ' Season ' + ${episode.season.season} +  ' Episode ' + ${episode.episode}"></h1>
    <p th:text="'Quality: ' + ${episode.quality}"></p>
    <p>Genres:
        <span th:each="genre : ${episode.season.serie.genres}">
            <a class="badge" th:text="${genre.name}" th:href="'/serie?genre=' + ${genre.name}"
               style="color: white;"></a>
        </span>
    </p>
</div>
<br>
<ul class="list-group">
    <li class="list-group-item active">Comments</li>
    <li class="list-group-item" th:each="comment:${comments}">
        <a th:href="'/user/' + ${comment.user.id}" th:text="${comment.user.name}"></a>
        <span th:text="': ' + ${comment.comment}"></span>
    </li>
</ul>

<br>

<form th:action="'/comment/add/episode?userId=' + ${currentUser.id} + '&episodeId=' + ${episode.id}" method="post">
    <textarea name="comment" class="form-control" th:placeholder="'Comment as ' + ${currentUser.name}"
              required></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Save Comment</button>
</form>
<br>
<a class="btn btn-primary" th:href="'/season/' + ${episode.season.id}">Back</a>
<script th:inline="javascript">
    fluidPlayer(
        'movie',
        {
            layoutControls: {
                primaryColor: "#3299FF",
                posterImage: [[${episode.season.serie.backgroundImg}]],
                playButtonShowing: true,
                playPauseAnimation: true,
                mute: false,
                allowDownload: false,
                allowTheatre: true,
                playbackRateEnabled: false,
                controlBar: {
                    autoHide: true,
                    autoHideTimeout: 3,
                    animated: true
                }
            }
        }
    );
</script>
