<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Register</h1>

<div th:if="${param.exists}" class="alert alert-danger">
    Username already used
</div>

<div th:if="${param.error}" class="alert alert-danger">
    Passwords dont match
</div>

<div class="card card-body">
    <form th:action="'/fastlogin/settings/' + ${user.id}" method="post">
        <h3>Login Data</h3>
        Username: <input th:value="${user.name}" class="form-control" type="text" name="name" required>
        Password: <input class="form-control" type="password" name="password" required>
        Confirm Password: <input class="form-control" type="password" name="confirm" required>
        <br>
        <h3>Video Player</h3>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">Plyr.io (default)</div>
                    <div class="card-body">
                        <img src="https://i.imgur.com/Y3RAwxP.png" width="100%"><br>
                        <br>
                        <div class="custom-control custom-radio">
                            <input th:checked="${user.videoPlayer} == 'plyr'" type="radio"
                                   id="plyr.io" name="player" value="plyr" class="custom-control-input">
                            <label class="custom-control-label" for="plyr.io">Plyr.io (default)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">HTML 5 Player</div>
                    <div class="card-body">
                        <img src="https://i.imgur.com/OXf4cP6.png" width="100%"><br>
                        <br>
                        <div class="custom-control custom-radio">
                            <input th:checked="${user.videoPlayer} == 'html5'" type="radio" id="html5"
                                   name="player" value="html5" class="custom-control-input">
                            <label class="custom-control-label" for="html5">HTML 5</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
