<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Register</h1>

<div class="alert alert-danger" th:if="${param.exists}">
    User allready exists
</div>

<div class="alert alert-danger" th:if="${param.password}">
    Passwords don't match
</div>

<form method="post" th:action="'/register/' + ${groupKey}">
    Username: <input class="form-control" name="name" required type="text">
    Password: <input class="form-control" name="password" required type="password">
    Confirm Password: <input class="form-control" name="confirm" required type="password">
    <br>
    <h3>Video Player</h3>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">Plyr.io (default)</div>

                <div class="card-body">
                    <label for="plyr.io">
                        <img src="https://i.imgur.com/Y3RAwxP.png" width="100%">
                    </label>
                    <br>
                    <br>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="plyr.io" name="player" type="radio" value="plyr">
                        <label class="custom-control-label" for="plyr.io">Plyr.io (default)</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">HTML 5 Player</div>
                <div class="card-body">
                    <label for="html5">
                        <img src="https://i.imgur.com/OXf4cP6.png" width="100%">
                    </label>
                    <br>
                    <br>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="html5" name="player" type="radio" value="html5">
                        <label class="custom-control-label" for="html5">HTML 5</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" id="check" name="check" required type="checkbox" value="check">
        <label class="custom-control-label" for="check">No account sharing, no sueing, thanks</label>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Save</button>
</form>