<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="alert alert-success" th:if="${param.deactivated}">
    Changed Group Status
</div>

<div class="alert alert-success" th:if="${param.created}">
    Created Group
</div>

<div class="alert alert-success" th:if="${param.added}">
    User added to group
</div>

<div class="alert alert-danger" th:if="${param.notexist}">
    User <span th:text="${param.notexist}"></span> doesnt exist...
</div>

<h1>Groups</h1>
<div class="card">
    <div class="card-header">New Group</div>
    <div class="card-body">
        <form action="/group/new" class="form-inline" method="post">
            <input class="form-control" name="name" placeholder="Group Name">
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
<br>
<ul class="list-group">
    <li class="list-group-item" th:each="group : ${groups}">
        <div class="row">
            <div class="col-2">
                <b th:if="${group.active}" th:text="${group.name}"></b>
                <span th:if="!${group.active}" th:text="${group.name}"></span>
            </div>
            <div class="col-8">
                <input class="form-control" disabled
                       th:value="'http://scorewinner.ch:8081/register/' + ${group.name}"
                       type="text" width="100%">
            </div>
            <div class="col-2">
                <form class="btn-group float-right" method="post" th:action="'/group/delete/' + ${group.id}">
                    <a class="btn btn-secondary" data-toggle="modal" th:data-target="'#qr' + ${group.id}"
                       th:if="${group.active}">
                        <i class="fas fa-qrcode"></i>
                    </a>
                    <button class="btn btn-danger" th:if="!${group.active}" type="submit">
                        <i class="fas fa-link"></i>
                    </button>
                    <button class="btn btn-success" th:if="${group.active}" type="submit">
                        <i class="fas fa-link"></i>
                    </button>
                    <a aria-expanded="false" class="btn btn-primary" data-toggle="collapse" role="button"
                       th:aria-controls="'colapse'+ ${group.id}" th:href="'#colapse'+ ${group.id}">
                        <i class="fas fa-plus"></i>
                    </a>
                </form>
            </div>
        </div>
        <div class="collapse" th:id="'colapse'+ ${group.id}">
            <br>
            <ul class="list-group">
                <li class="list-group-item active">Members</li>
                <li class="list-group-item" th:each="user : ${group.users}">
                    <a th:href="'/user/' + ${user.id}" th:text="${user.name}"></a>
                    <form class="float-right" method="post"
                          th:action="'/group/remove/' + ${user.id}">
                        <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i></button>
                    </form>
                </li>
                <li class="list-group-item list-group-item-success">
                    <form method="post" th:action="'/group/' + ${group.id} + '/add'">
                        <input autocomplete="off" class="form-control" list="users" name="name" placeholder="New Meber"
                               type="text">
                    </form>
                </li>
                <li class="list-group-item list-group-item-secondary" th:if="${group.users.isEmpty()}">No Members</li>
            </ul>
        </div>
    </li>
</ul>
<br>
<a class="btn btn-primary" href="/">Back</a>

<datalist id="users">
    <option th:each="user : ${users}" th:value="${user.name}">
</datalist>

<th:block th:each="group : ${groups}">
    <div aria-hidden="true" th:aria-labelledby="'qr' + ${group.id}" class="modal fade" th:id="'qr' + ${group.id}"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="'qr' + ${groupId}">Group Qr Code</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img width="100%"
                         th:src="'http://www.barcodes4.me/barcode/qr/qr.png?size=10'
                         + '&value=http://scorewinner.ch:8081/register/' + ${group.name}">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
