<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<div th:if="${param.deactivated}" class="alert alert-success">
    Changed Group Status
</div>

<div th:if="${param.created}" class="alert alert-success">
    Created Group
</div>

<div th:if="${param.added}" class="alert alert-success">
    User added to group
</div>

<div th:if="${param.notexist}" class="alert alert-danger">
    User <span th:text="${param.notexist}"></span> doesnt exist...
</div>

<h1>Groups</h1>
<div class="card">
    <div class="card-header">New Group</div>
    <div class="card-body">
        <form action="/group/new" method="post" class="form-inline">
            <input name="name" class="form-control" placeholder="Group Name">
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<br>
<ul class="list-group">
    <li th:each="group : ${groups}" class="list-group-item">
        <div class="row">
            <div class="col-2">
                <b th:if="${group.active}" th:text="${group.name}"></b>
                <span th:if="!${group.active}" th:text="${group.name}"></span>
            </div>
            <div class="col-9">
                <input th:value="'http://scorewinner.ch:8081/register/' + ${group.name}" type="text"
                       class="form-control"
                       width="100%" disabled>
            </div>
            <div class="col-1">
                <form th:action="'/group/delete/' + ${group.id}" method="post" class="btn-group float-right">
                    <button th:if="!${group.active}" type="submit" class="btn btn-danger">
                        <i class="fas fa-link"></i>
                    </button>
                    <button th:if="${group.active}" type="submit" class="btn btn-success">
                        <i class="fas fa-link"></i>
                    </button>
                    <a class="btn btn-primary" data-toggle="collapse" th:href="'#colapse'+ ${group.id}" role="button"
                       aria-expanded="false" th:aria-controls="'colapse'+ ${group.id}">
                        <i class="fas fa-plus"></i>
                    </a>
                </form>
            </div>
        </div>
        <div class="collapse" th:id="'colapse'+ ${group.id}">
            <br>
            <ul class="list-group">
                <li class="list-group-item active">Members</li>
                <li th:each="user : ${group.users}" class="list-group-item">
                    <a th:text="${user.name}" th:href="'/user/' + ${user.id}"></a>
                    <form th:action="'/group/remove/' + ${user.id}" method="post"
                          class="float-right">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </li>
                <li class="list-group-item">
                    <form th:action="'/group/' + ${group.id} + '/add'" method="post">
                        <input type="text" name="name" list="users" placeholder="New Meber" class="form-control">
                    </form>
                </li>
                <li th:if="${group.users.isEmpty()}" class="list-group-item list-group-item-secondary">No Members</li>
            </ul>
        </div>
    </li>
</ul>
<datalist id="users">
    <option th:each="user : ${users}" th:value="${user.name}">
</datalist>
