<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Home</h1>

<div class="alert alert-secondary" th:if="${param.logout}">
    Logged out
</div>

<div class="alert alert-success" th:if="${param.created}">
    Created Request
</div>

<div class="alert alert-success" th:if="${param.login}">
    Logged in
</div>

<div class="alert alert-warning" th:if="${param.access}">
    Missing access rights
</div>

<form action="/" id="search">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6" style="margin-bottom: 5px">
            <input autocomplete="off" class="form-control" name="search" placeholder="Search" th:value="${search}"
                   type="text">
        </div>
        <div class="col-6 col-md-3 col-lg-3">
            <select class="form-control" name="genre" onchange="document.getElementById('search').submit()">
                <option th:selected="true" value="">All Genres</option>
                <option th:each="genre : ${genres}" th:selected="${currentGenre} == ${genre}" th:text="${genre}"
                        th:value="${genre}"></option>
            </select>
        </div>
        <div class="col-6 col-md-3 col-lg-3">
            <select class="form-control" name="orderBy"
                    onchange="document.getElementById('search').submit()">
                <option disabled selected>Order By</option>
                <option th:selected="${orderBy.contains('')}" value="">Popularity</option>
                <option th:selected="${orderBy.contains('title')}" value="title">Title</option>
                <option th:selected="${orderBy.contains('rating')}" value="rating">Rating</option>
                <option th:selected="${orderBy.contains('year')}" value="year">Year</option>
                <option th:selected="${orderBy.contains('latest')}" value="latest">Latest</option>
            </select>
        </div>
    </div>
</form>

<br>
<div th:if="${startedVideos.size()} != 0">
    <h3>Continue Watching</h3>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px" th:each="startedVideo : ${startedVideos}">
            <div th:include="'static/startedMovieCard.html'"></div>
        </div>
    </div>
</div>
<h3>Movies</h3>
<div class="row">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px" th:each="movie : ${movies}">
        <div th:include="'static/movieCard.html'"></div>
    </div>
</div>
<div th:if="${movies.isEmpty()}">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
            <div class="alert alert-secondary">
                <a>No movies found</a>
                <br>
                <br>
                <a href="/request/create">Request movie</a>
            </div>
        </div>
    </div>
</div>
<div class="row" th:if="${!movies.isEmpty()}">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div class="card card-body">
            <a th:href="'/movies/1?search=' + ${search} + '&orderBy=' + ${orderBy} + '&genre=' + ${currentGenre}">
                All movies</a>
        </div>
    </div>
</div>

<hr>

<h3>Series</h3>
<div class="row">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px" th:each="serie : ${series}">
        <div th:include="'static/serieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${series.isEmpty()}">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No series found</a>
            <br>
            <br>
            <a href="/request/create">Request serie</a>
        </div>
    </div>
</div>
<div class="row" th:if="${!series.isEmpty()}">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div class="card card-body">
            <a th:href="'/serie?search=' + ${search}">All series</a>
        </div>
    </div>
</div>
