<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Home</h1>

<div th:if="${param.logout}" class="alert alert-secondary">
    Logged out
</div>

<form action="/" id="search">
    <div class="row">
        <br>
        <div class="col-8">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
        <div class="col">
            <select class="form-control" name="orderBy"
                    onchange="document.getElementById('search').submit()">
                <option selected disabled>Order By</option>
                <option th:selected="${orderBy.contains('')}" value="">Title</option>
                <option th:selected="${orderBy.contains('rating')}" value="rating">Rating</option>
                <option th:selected="${orderBy.contains('year')}" value="year">Year</option>
            </select>
        </div>
    </div>
</form>

<br>

<h3>Movies</h3>
<div class="row">
    <div th:each="movie : ${movies}" class="col-sm-4" style="margin-bottom: 20px">
        <div th:include="'static/movieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${movies.size()} == 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No movies found</a>
            <br>
            <br>
            <a href="/request/create">Request movie to be added</a>
        </div>
    </div>
</div>
<div class="row" th:if="${movies.size()} != 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="card card-body">
            <a href="/movie">All movies</a>
        </div>
    </div>
</div>

<hr>

<h3>Series</h3>
<div class="row">
    <div th:each="serie : ${series}" class="col-sm-4" style="margin-bottom: 20px">
        <div th:include="'static/serieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${series.size()} == 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No series found</a>
            <br>
            <br>
            <a href="/request/create">Request serie to be added</a>
        </div>
    </div>
</div>
<div class="row" th:if="${series.size()} != 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="card card-body">
            <a href="/serie">All series</a>
        </div>
    </div>
</div>
