<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Login</h1>

<div th:if="${param.error}" class="alert alert-danger">
    Invalid username or password
</div>

<div th:if="${param.error}" class="alert alert-info">
    For Password reset contact Felix
</div>

<div th:if="${param.redirect}" class="alert alert-warning">
    Requires Login
</div>

<div th:if="${param.logout}" class="alert alert-success">
    Logged Out
</div>


<div class="card card-body">
    <form th:action="'/login?redirect=' + ${param.redirect}" method="post">
        <label for="name">Username:</label>
        <input class="form-control" type="text" name="name" id="name" th:value="${param.user}">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password">
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
