<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Login</h1>

<div class="alert alert-danger" th:if="${param.error}">
    Invalid username or password
</div>

<div class="alert alert-danger" th:if="${param.registerError}">
    Authentication Key seems to be expired... Request new one
</div>

<div class="alert alert-info" th:if="${param.error}">
    For Password reset contact your Administrator
</div>

<div class="alert alert-warning" th:if="${param.redirect}">
    Requires Login
</div>

<div class="alert alert-success" th:if="${param.logout}">
    Logged Out
</div>


<div class="card card-body">
    <form method="post" th:action="'/login?redirect=' + ${param.redirect}">
        <label for="name">Username:</label>
        <input class="form-control" id="name" name="name" th:value="${param.user}" type="text">
        <label for="password">Password:</label>
        <input class="form-control" id="password" name="password" type="password">
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <div>
        <a href="/login/request">New Account</a>
        <br>
        <br>
        <a class="link-btn" href="https://discord.gg/UJ2c9pGteV" target="_blank">
            <i class="fab fa-discord"></i> Need Help?
        </a>
    </div>
</div>
