<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css"/>
<script src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js"></script>

<div th:if="${currentUser} != null" id="movie-div">
    <center>
        <video id="movie" controls width="100%">
            <source th:src="'/video/movie/' + ${movie.id}">
        </video>
    </center>
</div>
<div th:if="${currentUser}== null" id="trailer-div">
    <div>
        <center>
            <iframe th:src="'https://www.youtube.com/embed/' + ${movie.trailerKey}" width="853" height="480"
                    frameborder="0" allowfullscreen></iframe>
        </center>
    </div>
</div>

<div class="card card-body">
    <h1 th:text="${movie.title} + ' (' + ${movie.year} + ')'"></h1>

    <form th:action="'/movie/' + ${movie.id} + '/like'" method="post" class="float-right">
        <button th:if="${hasliked} == true" type="submit" class="btn btn-danger">
            <i class="fas fa-heart"></i>
        </button>
        <button th:if="${hasliked} == false" type="submit" class="btn btn-secondary">
            <i class="fas fa-heart"></i>
        </button>
    </form>
    <p th:text="'Likes: ' + ${movie.likes.size()}"></p>
    <p th:text="'Rating: ' + ${movie.voteAverage}"></p>
    <p th:text="'Quality: ' + ${movie.quality}"></p>
    <p>Genres:
        <span th:each="genre : ${movie.genres}">
            <a th:text="${genre.name}" th:href="'/movies/1?genre=' + ${genre.name}" class="badge"
               style="color: white;"></a>
        </span>
    </p>
    <p th:text="${movie.descript}"></p>
    <p th:text="'Runtime: ' + ${movie.runtime} + ' Min'"></p>
</div>

<br>
<div class="card card-body">
    <details>
        <summary style="outline: none;">
            Trailer
            <i class="fas fa-caret-down float-right"></i>
        </summary>
        <div class="card-body">
            <center>
                <iframe th:src="'https://www.youtube.com/embed/' + ${movie.trailerKey}" width="853" height="480"
                        frameborder="0" allowfullscreen></iframe>
            </center>
        </div>
    </details>
</div>

<br>
<ul class="list-group">
    <li class="list-group-item active">Comments</li>
    <li th:each="comment:${movie.comments}" class="list-group-item">
        <a th:text="${comment.user.name}" th:href="'/user/' + ${comment.user.id}"></a>
        <span th:text="': ' + ${comment.comment}"></span>
    </li>
</ul>

<br>
<div th:if="${currentUser} != null">
    <form th:action="'/comment/add/movie?userId=' + ${currentUser.id} + '&movieId=' + ${movie.id}" method="post">
        <textarea name="comment" class="form-control" th:placeholder="'Comment as ' + ${currentUser.name}"
                  required></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Save Comment</button>
    </form>
</div>
<div th:if="${!similar.isEmpty()}">
    <br>
    <div class="card">
        <div class="card-header">Similar Movies</div>
        <div class="row card-body">
            <div th:each="movie : ${similar}" class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
                <div th:include="'static/movieCard.html'"></div>
            </div>
        </div>
    </div>
</div>
<br>
<a href="/movies/1" class="btn btn-primary">Back</a>
<script th:inline="javascript">
    fluidPlayer(
        'movie',
        {
            layoutControls: {
                primaryColor: "#3299FF",
                posterImage: [[${movie.backgroundImg}]],
                playButtonShowing: true,
                playPauseAnimation: true,
                mute: false,
                allowDownload: false,
                allowTheatre: true,
                playbackRateEnabled: false,
                controlBar: {
                    autoHide: true,
                    autoHideTimeout: 3,
                    animated: true
                }
            }
        }
    );
</script>
<style>
    details summary::-webkit-details-marker {
        display: none;
        outline: none;
    }
</style>
