<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Movie List</h1>

<div class="row">
    <div th:each="movie : ${movies}" class="col-sm-4" style="margin-bottom: 20px">
        <a th:href="'/movie/' + ${movie.id}">
            <div class="card">
                <img class="card-img-top" th:src="${movie.caseImg}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${movie.title}"></h5>
                </div>
            </div>
        </a>
    </div>
</div>
