<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css"/>
<script src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js"></script>


<div th:if="${currentUser} != null">
    <video id="movie" th:src="'/video/movie/' + ${movie.id}" controls width="100%"></video>
</div>
<div th:if="${currentUser} == null">
    <center>
        <iframe width="853" height="480" th:src="'https://www.youtube.com/embed/' + ${movie.trailerKey}" frameborder="0"
                allowfullscreen></iframe>
        <div class="alert alert-secondary col-3">
            Login to view full Movie
        </div>
    </center>
</div>

<div class="card card-body">
    <h1 th:text="${movie.title} + ' (' + ${movie.year} + ')'"></h1>
    <p th:text="'Quality: ' + ${movie.quality}"></p>
    <p>Genres:
        <span th:each="genre : ${movie.genres}">
            <a class="badge" th:text="${genre.name}" th:href="'/movie?genre=' + ${genre.name}"
               style="color: white;"></a>
        </span>
    </p>
    <p th:text="'Rating: ' + ${movie.voteAverage}"></p>
    <p th:text="${movie.descript}"></p>
    <p th:text="'Runtime: ' + ${movie.runtime} + ' Min'"></p>
</div>
<br>
<ul class="list-group">
    <li class="list-group-item active">Comments</li>
    <li class="list-group-item" th:each="comment:${comments}">
        <a th:href="'/user/' + ${comment.user.id}" th:text="${comment.user.name}"></a>
        <span th:text="': ' + ${comment.comment}"></span>
    </li>
</ul>

<br>
<div th:if="${currentUser} != null">
    <form th:action="'/comment/add/movie?userId=' + ${currentUser.id} + '&movieId=' + ${movie.id}" method="post">
        <textarea name="comment" class="form-control" th:placeholder="'Comment as ' + ${currentUser.name}"
                  required></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Save Comment</button>
    </form>
</div>
<div th:if="${similar.size()} != 0">
    <br>
    <div class="card">
        <div class="card-header">Similar Movies</div>
        <div class="row card-body">
            <div th:each="movie : ${similar}" class="col-sm-4" style="margin-bottom: 20px">
                <div th:include="'static/movieCard.html'"></div>
            </div>
        </div>
    </div>
</div>
<br>
<a href="/" class="btn btn-primary">Back</a>
<script th:inline="javascript">
    fluidPlayer(
        'movie',
        {
            layoutControls: {
                autoPlay: true,
                playButtonShowing: true,
                playPauseAnimation: true,
                mute: false,
                allowDownload: false,
                allowTheatre: false,
                playbackRateEnabled: false,
                controlBar: {
                    autoHide: true,
                    autoHideTimeout: 3,
                    animated: true
                }
            }
        }
    );
</script>
