<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Movies</h1>

<form action="/movie" id="search">
    <div class="row">
        <br>
        <div class="col-6">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
        <div class="col-3">
            <select class="form-control" name="genre"
                    onchange="document.getElementById('search').submit()">
                <option th:selected="true" value="">All</option>
                <option th:each="genre : ${genres}" th:selected="${currentGenre} == ${genre}" th:value="${genre}"
                        th:text="${genre}"></option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-control" name="orderBy"
                    onchange="document.getElementById('search').submit()">
                <option selected disabled>Order By</option>
                <option th:selected="${orderBy.contains('')}" value="">Title
                <option th:selected="${orderBy.contains('rating')}" value="rating">Rating</option>
                <option th:selected="${orderBy.contains('year')}" value="year">Year</option>
            </select>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div th:each="movie : ${movies}" class="col-sm-4" style="margin-bottom: 20px">
        <div th:include="'static/movieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${movies.size()} == 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No movies found</a>
            <br>
            <br>
            <a href="/request/create">Request movie to be added</a>
        </div>
    </div>
</div>
