<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Movies</h1>

<form action="/movies/1" id="search">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6" style="margin-bottom: 5px">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
        <div class="col-6 col-md-3 col-lg-3">
            <select class="form-control" name="genre"
                    onchange="document.getElementById('search').submit()">
                <option th:selected="true" value="">All Genres</option>
                <option th:each="genre : ${genres}" th:selected="${currentGenre} == ${genre}" th:value="${genre}"
                        th:text="${genre}"></option>
            </select>
        </div>
        <div class="col-6 col-md-3 col-lg-3">
            <select class="form-control" name="orderBy"
                    onchange="document.getElementById('search').submit()">
                <option selected disabled>Order By</option>
                <option th:selected="${orderBy.contains('')}" value="">Popularity</option>
                <option th:selected="${orderBy.contains('title')}" value="title">Title</option>
                <option th:selected="${orderBy.contains('rating')}" value="rating">Rating</option>
                <option th:selected="${orderBy.contains('year')}" value="year">Year</option>
            </select>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div th:each="movie : ${movies}" class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div th:include="'static/movieCard.html'"></div>
    </div>
</div>
<div th:if="${movies.isEmpty()}" class="row">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No movies found</a>
            <br>
            <br>
            <a href="/request/create">Request movie</a>
        </div>
    </div>
</div>
<center>
    <div class="btn-group">
        <a th:if="${lastDisabled}" class="btn btn-primary" th:href="'/movies/' + ${pageIndexLast}
        + '?search=' + ${search}  + '&genre=' + ${currentGenre} + '&orderBy=' + ${orderBy}">Last</a>
        <a th:href="'/movies/' + ${pageIndex} + '?search=' + ${search} + '&genre=' + ${currentGenre} + '&orderBy=' + ${orderBy}"
           th:text="${pageIndex}" class="btn btn-secondary"></a>
        <a th:if="${movies.size()} == 24"
           th:href="'/movies/' + ${pageIndexNext} + '?search=' + ${search}  + '&genre=' + ${currentGenre} + '&orderBy=' + ${orderBy}"
           class="btn btn-primary">Next</a>
    </div>
</center>
