<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' href='https://cdn.plyr.io/3.2.4/plyr.css'>
<script src='https://cdn.plyr.io/3.2.4/plyr.js'></script>

<link rel="stylesheet" th:href="'../plyr/style.css'">
<script th:src="'../plyr/index.js'"></script>

<script type="application/javascript">
    $(window).bind("load", function () {
        player.currentTime = [[${time}]]
    });
</script>

<div th:if="${currentUser} != null" th:switch="${currentUser.videoPlayer}" id="movie-div">
    <video th:case="'html5'" controls playsinline th:poster="${movie.backgroundImg}" width="100%"
           controlsList="nodownload">
        <source th:src="'/video/movie/' + ${movie.id}" th:type="${movie.filetype}">
    </video>
    <video th:case="*" controls playsinline th:poster="${movie.backgroundImg}" id="player">
        <source th:src="'/video/movie/' + ${movie.id}" th:type="${movie.filetype}">
    </video>
</div>

<div class="card card-body">
    <h1 th:text="${movie.title} + ' (' + ${movie.year} + ')'"></h1>

    <form th:action="'/movie/' + ${movie.id} + '/like'" method="post" class="float-right">
        <button th:if="${hasliked} == true" type="submit" class="btn btn-danger">
            <i class="fas fa-heart"></i>
        </button>
        <button th:if="${hasliked} == false" type="submit" class="btn btn-secondary">
            <i class="fas fa-heart"></i>
        </button>
    </form>
    <p th:text="'Likes: ' + ${movie.likes.size()}"></p>
    <p th:text="'Rating: ' + ${movie.voteAverage}"></p>
    <p th:text="'Quality: ' + ${movie.quality}"></p>
    <p>Genres:
        <span th:each="genre : ${movie.genres}">
            <a th:text="${genre.name}" th:href="'/movies/1?genre=' + ${genre.name}" class="badge"
               style="color: white;"></a>
        </span>
    </p>
    <p th:text="${movie.descript}"></p>
    <p th:text="'Runtime: ' + ${movie.runtime} + ' Min'"></p>
</div>

<br>
<div class="card card-body">
    <details>
        <summary style="outline: none;">
            Trailer
            <i class="fas fa-caret-down float-right"></i>
        </summary>
        <div class="card-body">
            <div class="plyr__video-embed" id="trailer">
                <iframe th:src="'https://www.youtube.com/embed/' + ${movie.trailerKey}
                        + '?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1'"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </details>
</div>

<br>
<ul class="list-group">
    <li class="list-group-item active">Comments</li>
    <li th:each="comment:${movie.comments}" class="list-group-item">
        <a th:text="${comment.user.name}" th:href="'/user/' + ${comment.user.id}"></a>
        <span th:text="': ' + ${comment.comment}"></span>
    </li>
</ul>

<br>
<div th:if="${currentUser} != null">
    <form th:action="'/comment/add/movie?userId=' + ${currentUser.id} + '&movieId=' + ${movie.id}" method="post">
        <textarea name="comment" class="form-control" th:placeholder="'Comment as ' + ${currentUser.name}"
                  required></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Save Comment</button>
    </form>
</div>
<br>
<div class="card" th:if="${currentUser.isAdmin()}">
    <div class="card-header">Movie Settings</div>
    <div class="card-body">
        <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i>
            Change Video Path
        </div>
        <form th:action="'/movie/' + ${movie.id} + '/path'" method="post">
            <input th:value="${movie.videoPath}" type="text" class="form-control" name="path">
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <hr>
        <p>Movie Attributes</p>
        <form th:action="'/movie/' + ${movie.id} + '/attributes'" method="post">
            Quality
            <input th:value="${movie.quality}" type="text" class="form-control" name="quality">
            Year
            <input th:value="${movie.year}" type="text" class="form-control" name="year">
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<br>
<div th:if="${!similar.isEmpty()}">
    <br>
    <div class="card">
        <div class="card-header">Similar Movies</div>
        <div class="row card-body">
            <div th:each="movie : ${similar}" class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
                <div th:include="'static/movieCard.html'"></div>
            </div>
        </div>
    </div>
</div>
<br>
<a href="/movies/1" class="btn btn-primary">Back</a>
<style>
    details summary::-webkit-details-marker {
        display: none;
        outline: none;
    }
</style>
<script type="application/javascript">
    window.onbeforeunload = function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/time/movie",
            data: {
                userId: [[${currentUser.id}]],
                movieId: [[${movie.id}]],
                time: player.currentTime
            }
        });
    };
</script>
