<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Register new User</h1>

<div class="alert alert-danger" th:if="${param.exists}">
    User allready exists
</div>

<div class="alert alert-success" th:if="${param.added}">
    Authkey:
    <input class="form-control" disabled th:value="'http://movie.scorewinner.ch/fastlogin/' + ${param.added}"
           type="text">
</div>

<form action="/register" method="post">
    Username: <input class="form-control" name="name" required type="text">
    <br>
    <input class="btn btn-primary" type="submit">
</form>