<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1 th:text=" ${season.serie.title} + ' Season ' + ${season.season} + ' (' + ${season.year} + ')'"></h1>

<img th:src="${season.serie.caseImg}" class="img-thumbnail" width="100px">
<br>
<br>
<ul class="list-group">
    <li th:each="episode:${episodes}" class="list-group-item">
        <a th:text="'Episode ' + ${episode.episode}" th:href="'/episode/' + ${episode.id}"></a>
    </li>
</ul>
<br>
<a class="btn btn-primary" th:href="'/serie/' + ${season.serie.id}">Back</a>
