<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1 th:text="'Serie ' + ${serie.title}"></h1>

<img class="img-thumbnail" th:src="${serie.caseImg}" width="100px">
<br>
<br>
<div class="card card-body">
    <p>
        <span class="fa fa-star checked" style="color: #D7D700;"></span>
        <span th:text="'Rating: ' + ${serie.voteAverage}"></span>
    </p>
    <p th:text="${serie.descript}"></p>
</div>
<br>
<ul class="list-group">
    <li class="list-group-item" th:each="season:${seasons}">
        <a th:href="'/season/' + ${season.id}" th:text="'Season ' + ${season.season}" class="link-btn float-left"></a>
    </li>
</ul>
<br>
<a class="link-btn" href="/serie">Back</a>
