<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Serie List</h1>

<form action="/" id="search">
    <div class="row">
        <div class="col-6">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
        <div class="col-6">
            <select class="form-control" name="genre"
                    onchange="document.getElementById('search').submit()">
                <option th:selected="true" value="">All Genres</option>
                <option th:each="genre : ${genres}" th:selected="${currentGenre} == ${genre}" th:value="${genre}"
                        th:text="${genre}"></option>
            </select>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div th:each="serie : ${series}" class="col-sm-2" style="margin-bottom: 20px">
        <div th:include="'static/serieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${series.size()} == 0">
    <div class="col-sm-2" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No series found</a>
            <br>
            <br>
            <a href="/request/create">Request serie</a>
        </div>
    </div>
</div>
