<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Serie List</h1>

<form action="/serie" id="search">
    <div class="row">
        <br>
        <div class="col-12">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
    </div>
</form>
<br>
<div class="row">
    <div th:each="serie : ${series}" class="col-sm-4" style="margin-bottom: 20px">
        <div th:include="'static/serieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${series.size()} == 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No series found</a>
            <br>
            <br>
            <a href="/request/create">Request serie to be added</a>
        </div>
    </div>
</div>
