<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Serie List</h1>

<form action="/serie" id="search">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6" style="margin-bottom: 5px">
            <input autocomplete="off" class="form-control" name="search"
                   placeholder="Search" th:value="${search}" type="text">
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <select class="form-control" name="genre"
                    onchange="document.getElementById('search').submit()">
                <option th:selected="true" value="">All Genres</option>
                <option th:each="genre : ${genres}" th:selected="${currentGenre} == ${genre}" th:text="${genre}"
                        th:value="${genre}"></option>
            </select>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px" th:each="serie : ${series}">
        <div th:include="'static/serieCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${series.isEmpty()}">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No series found</a>
            <br>
            <br>
            <a href="/request/create" class="link-btn">Request serie</a>
        </div>
    </div>
</div>
