<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>Settings</h1>

<div class="card">
    <div class="card-header">Import</div>
    <div class="card-body">
        <form action="/import/path/movie" method="post" class="form-inline form-group mb-2">
            <label for="moviepath">Movie Path:</label>
            <input class="form-control col-sm-3 mx-sm-3" id="moviepath" type="text" th:value="${moviePath}"
                   name="path">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
        <br>
        <form action="/import/path/serie" method="post" class="form-inline">
            <label for="seriepath">Serie Path:</label>
            <input class="form-control col-sm-3 mx-sm-3" id="seriepath" type="text" th:value="${seriePath}"
                   name="path">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
        <br>
        <form action="/import/movie" method="post" class="form-inline">
            <button class="btn btn-primary" th:disabled="${running}">Import Movies</button>
        </form>
        <br>
        <form action="/import/serie" method="post" class="form-inline">
            <button class="btn btn-primary" th:disabled="${running}">Import Series</button>
        </form>
        <form action="/import/reset" method="post" class="form-inline float-right">
            <button class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
