<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>Upload Subtitle</h1>
<form action="/subtitle/add" enctype="multipart/form-data" method="post">
    Subtitle File (.srt)
    <div class="custom-file">
        <input class="custom-file-input" id="subtitles" name="file" required type="file">
        <label class="custom-file-label" for="subtitles">Choose file...</label>
    </div>
    <br>
    Movie
    <select class="form-control" name="movieId" required>
        <option th:each="movie: ${movies}" th:text="${movie.title}" th:value="${movie.id}"></option>
    </select>
    <br>
    Language
    <select class="form-control" name="language" required>
        <option value="de">German</option>
        <option value="en">English</option>
    </select>
    <br>
    <button class="btn btn-primary" type="submit">Upload</button>
</form>
<br>
<a class="btn btn-primary" href="/">Back</a>
