<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1 th:text="'List ' + ${timeline.title}"></h1>
<br>
<div class="card card-body">
    <a th:utext="${timeline.description}"></a>
    <br>
    <small class="text-muted">
        <span>List created by </span>
        <a th:text="${timeline.user.name}" th:href="'/user/' + ${timeline.user.id}"></a>
    </small>
</div>
<br>
<div class="row">
    <div th:each="moviePar : ${timeline.listMovies}" class="col-sm-4" style="margin-bottom: 20px">
        <div th:include="'static/movieListCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${timeline.listMovies.size()} == 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No movies found</a>
        </div>
    </div>
</div>
<div th:if="${currentUser?.name} == ${timeline.user.name} OR ${currentUser?.role} == 2">
    <a th:href="'/timeline/edit/' + ${timeline.id} " class="btn btn-primary">Edit</a>
    <br><br>
</div>
<a href="/list" class="btn btn-primary">Back</a>
