<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1 th:text="'List ' + ${timeline.title}"></h1>
<br>
<div class="row">
    <div th:each="moviePar : ${timeline.listMovies}" class="col-sm-4" style="margin-bottom: 20px">
        <div th:include="'static/movieListCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${timeline.listMovies.size()} == 0">
    <div class="col-sm-4" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No movies found</a>
        </div>
    </div>
</div>
<div th:if="${currentUser?.role} == 2">
    <a th:href="'/list/' + ${timeline.id} + '/edit'" class="btn btn-primary">Edit</a>
    <br><br>
</div>
<a href="/list" class="btn btn-primary">Back</a>
