<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1 th:text="'List ' + ${timeline.title}"></h1>

<div class="alert alert-danger" th:if="${param.notdeleted}">
    List not deleted
</div>

<br>
<div class="card card-body">
    <a th:utext="${timeline.description}"></a>
    <br>
    <small class="text-muted">
        <span>List created by </span>
        <a th:href="'/user/' + ${timeline.user.id}" th:text="${timeline.user.name}"></a>
    </small>
</div>
<br>
<div class="row">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px" th:each="moviePar : ${timeline.listMovies}">
        <div th:include="'static/movieListCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${timeline.listMovies.isEmpty()}">
    <div class="col-sm-2" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No movies found</a>
        </div>
    </div>
</div>
<div th:if="${currentUser} == ${timeline.user} OR ${currentUser.isAdmin()}">
    <div>
        <a class="btn btn-primary" th:href="'/timeline/edit/' + ${timeline.id} ">Edit</a>
        <br>
        <br>
        <form class="form" method="post" th:action="'/timeline/delete/' + ${timeline.id}">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
    <br>
</div>
<a class="btn btn-primary" href="/list">Back</a>
