<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1 class="size-in">Movie Lists</h1>

<div class="alert alert-success" th:if="${param.list}">
    List saved
</div>

<div class="alert alert-success" th:if="${param.deleted}">
    List deleted
</div>

<br>
<a class="link-btn size-in" href="/timeline/new">Create new List</a>
<br><br>
<div class="row">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px" th:each="timeline : ${timelines}">
        <div th:include="'static/listCard.html'"></div>
    </div>
</div>
<div class="row" th:if="${timelines.isEmpty()}">
    <div class="col-12 col-md-4 col-lg-3" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No Lists found</a>
        </div>
    </div>
</div>
<br>
<a class="link-btn size-in" href="/">Back</a>
