<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="'../../style.css'">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">

<video controls id="html-player" playsinline width="100%">
    <source th:src="'/video/preview/' + ${file.hash}">
</video>
<h1 th:text="${file.filename}"></h1>
<table class="table">
    <tr>
        <td>Type</td>
        <td th:text="${file.videoType}"></td>
    </tr>
    <tr>
        <td>User</td>
        <td th:text="${file.user.name}"></td>
    </tr>
    <tr>
        <td>Timestamp</td>
        <td th:text="${file.timestamp}"></td>
    </tr>
    <tr>
        <td>HASH</td>
        <td th:text="${file.hash}"></td>
    </tr>
</table>
<a class="btn btn-primary" href="/upload">Back</a>
