<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="alert alert-success" th:if="${param.uploaded}">
    Movie Uploaded
</div>
<div class="alert alert-success" th:if="${param.deleted}">
    Movie Deleted <span th:text="${param.deleted}"></span>
</div>
<div class="alert alert-success" th:if="${param.scan}">
    Scan Complete
</div>
<div class="alert alert-success" th:if="${param.added}">
    Movie Added
</div>
<div class="alert alert-danger" th:if="${param.cancel}">
    Movie Upload Canceled
</div>
<div class="alert alert-danger" th:if="${param.exists}">
    Movie allready exists
</div>


<h1>Upload Movie</h1>
<form action="/upload/movie" enctype="multipart/form-data" id="uploadMovie" method="post">
    <div class="custom-file">
        <input class="custom-file-input" id="movie" name="movie" onchange="setLabel()" required type="file">
        <label class="custom-file-label" for="movie" id="filelabel">Choose movie...</label>
    </div>
    <br>
    <br>
    <button class="btn btn-primary" id="submitUpload" type="submit">Upload</button>
    <br>
    <br>
    <div class="alert alert-info">
        Chrome does not support DTS or AC3 Audio formats, aswell as .avi Video files<br>
        Reloading or Exiting this page cancels upload...<br>
        Max Filesize 5 GB. Everything else is unoptimized...
    </div>
</form>
<br>
<div class="card">
    <div class="card-header">Staged Videofiles
        <form action="/upload/scan" class="float-right" method="post" th:if="${currentUser.isAdmin()}">
            <button class="btn btn-secondary" type="submit"><i class="fas fa-sync-alt"></i> Scan</button>
        </form>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item card-body" id="progress-list-item" style="display: none">
                <b>
                    <i class="fas fa-atom fa-spin"></i>
                    <span id="filedesc"></span>
                </b>
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25"
                         class="progress-bar progress-bar-striped progress-bar-animated" id="progress"
                         role="progressbar">
                    </div>
                </div>
            </li>
            <li class="list-group-item" th:each="file : ${files}">
                <i class="fas fa-circle" style="color: darkblue;"
                   th:if="${file.getVideoType().equals('movie')}"></i>
                <i class="fas fa-circle" style="color: darkviolet;"
                   th:if="${file.getVideoType().equals('episode')}"></i>
                <b th:text="${file.filename}"></b>
                <span th:text="${filesize.getFileSize(file.size)} + ' MB'"></span>
                <div class="float-right">
                    <span th:text="${#dates.format(file.timestamp, 'dd.MM.yyyy')}"></span>
                    <span th:text="${file.user?.name}"></span>
                    <th:block th:if="${file.completed && currentUser.isAdmin()}">
                        <div class="btn-group">
                            <a class="btn btn-secondary" data-toggle="modal" href="#"
                               th:data-target="'#editFile' + ${file.id}">
                                <i class="far fa-edit"></i>
                            </a>
                            <button class="btn btn-success"
                                    th:onclick="'document.getElementById(\'accept' + ${file.id} + '\').submit();'"
                                    type="submit">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger"
                                    th:onclick="'document.getElementById(\'delete' + ${file.id} + '\').submit();'"
                                    type="submit">
                                <i class="fas fa-times"></i>
                            </button>
                            <a class="btn btn-primary" th:href="'/upload/preview/' + ${file.hash}">
                                <i class="fas fa-play-circle"></i>
                            </a>
                        </div>

                        <form method="post" style="display: inline" th:action="'/upload/accept/' + ${file.id}"
                              th:id="'accept' + ${file.id}"></form>
                        <form method="post" style="display: inline" th:action="'/upload/delete/' + ${file.id}"
                              th:id="'delete' + ${file.id}"></form>

                    </th:block>
                    <th:block th:if="${!file.completed}">
                        <button class="btn btn-secondary" disabled><i class="fas fa-cloud-upload-alt"></i></button>
                    </th:block>
                </div>
            </li>
        </ul>
        <div class="row" th:if="${files.isEmpty()}">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="alert alert-secondary">
                    No Movies in Upload Folder
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="edit" class="modal fade" role="dialog" tabindex="-1"
     th:each="file : ${files}" th:id="'editFile' + ${file.id}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="request">Edit File</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="'/upload/edit/' + ${file.id}">
                <div class="modal-body">
                    <input class="form-control" name="name" placeholder="File Name" required th:value="${file.filename}"
                           type="text">
                    <br>
                    <label for="videotype">Video Type</label>
                    <select class="form-control" id="videotype" name="videoType">
                        <option th:selected="${file.videoType.contains('movie')}" value="movie">Movie</option>
                        <option th:selected="${file.videoType.contains('episode')}" value="episode">Episode</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<a class="btn btn-primary" href="/settings">Back</a>
<script>
    function setLabel() {
        document.getElementById('filelabel').innerHTML = document.getElementById('movie').value;
    }

    (function ($) {
        $("#submitUpload").on("click", function (e) {
            const formData = new FormData(document.forms["uploadMovie"]);
            document.getElementById('filedesc').innerHTML =
                document.getElementById('movie').value.replace("C:\\fakepath\\", "");
            document.getElementById('submitUpload').disabled = true;
            $.ajax({
                url: '/upload/movie',
                type: 'POST',
                data: formData,
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', progress, false);
                    }
                    return myXhr;
                },
                success: function (data) {
                },
                error: function (data) {
                }
            });
            return false;
        });
    })(jQuery);

    function progress(e) {
        if (e.lengthComputable) {

            document.getElementById('progress-list-item').style.display = 'block';

            var max = e.total;
            var current = e.loaded;

            var uploadProgress = (current * 100) / max;

            document.getElementById('progress').style.width = uploadProgress + '%';
            document.getElementById('progress').innerText = Math.round(uploadProgress * 100) / 100 + '%';

            console.log(uploadProgress);


            if (uploadProgress === 100) {
                window.location.href = '/upload?uploaded';
            }
        }
    }

</script>
