<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>User List</h1>

<form action="/user" id="search">
    <div class="row">
        <br>
        <div class="col-12">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
    </div>
</form>
<br>
<ul class="list-group">
    <li class="list-group-item" th:each="user:${users}">
        <a th:text="${user.name}" th:href="'/user/' + ${user.id}"></a>
    </li>
    <li class="list-group-item" th:if="${currentUser.role} == 2">
        <a class="btn btn-primary" href="/register">New User</a>
    </li>
</ul>