<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1 th:text="'User ' + ${user.name}"></h1>

<p th:text="'Id: ' + ${user.id}"></p>

<div th:switch="${user.role}">
    <p>Role:
        <span th:case="1">User</span>
        <span th:case="2">Admin</span>
    </p>
</div>
<div th:switch="${user.role}">
    <form th:case="'1'" th:action="'/user/' + ${user.id} + '/role/2'" method="post">
        <button class="btn btn-primary">
            <i class="fas fa-chess-pawn"></i>
        </button>
    </form>
    <form th:case="'2'" th:action="'/user/' + ${user.id} + '/role/1'" method="post">
        <button class="btn btn-primary">
            <i class="fas fa-chess-king"></i>
        </button>
    </form>
</div>
<form>
    Change NAME TODO
</form>
<form>
    Change PSW TODO
</form>

