<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1 th:text="'User ' + ${user.name}"></h1>

<p th:text="'Id: ' + ${user.id}"></p>
<p th:text="'Role: ' + ${user.role}"></p>
<form>
    Change NAME TODO
</form>
<form>
    Change PSW TODO
</form>
<div th:switch="${user.role}">
    <form th:case="'1'" th:action="'/user/' + ${user.id} + '/role/2'" method="post">
        <button>Make Admin</button>
    </form>
    <form th:case="'2'" th:action="'/user/' + ${user.id} + '/role/1'" method="post">
        <button>Remove Admin</button>
    </form>
</div>
