<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<h1>User List</h1>

<div th:if="${param.added}" class="alert alert-success">
    User added
</div>

<div th:if="${param.deleted}" class="alert alert-success">
    User deleted
</div>

<form action="/user" id="search">
    <div class="row">
        <br>
        <div class="col-12">
            <input th:value="${search}" class="form-control" type="text" name="search"
                   placeholder="Search" autocomplete="off">
        </div>
    </div>
</form>
<br>
<ul class="list-group">
    <li th:each="user : ${users}" class="list-group-item">
        <img th:if="${user.profileImg} != null" class="img-thumbnail" th:src="'/img/' + ${user.id}"
             style="max-height: 40px; min-height: 40px"/>
        <a th:text="${user.name}" th:href="'/user/' + ${user.id}"></a>
        <div th:if="${currentUser.isAdmin()}" class="float-right" th:switch="${user.role}">
            <form th:case="'1'" th:action="'/user/' + ${user.id} + '/role/2'" method="post">
                <button class="btn btn-light">
                    <i class="fas fa-chess-pawn"></i>
                </button>
            </form>
            <form th:case="'2'" th:action="'/user/' + ${user.id} + '/role/1'" method="post">
                <button class="btn btn-dark">
                    <i class="fas fa-chess-king"></i>
                </button>
            </form>
        </div>
    </li>
</ul>
<div th:if="${users.isEmpty()}" class="row">
    <div class="col-sm-3" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No Users found</a>
        </div>
    </div>
</div>
<br>
<a class="btn btn-primary" href="/register">New User</a>
