<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<h1>User List</h1>

<div class="alert alert-success" th:if="${param.added}">
    User added
</div>

<div class="alert alert-success" th:if="${param.deleted}">
    User deleted
</div>

<form action="/user" id="search">
    <div class="row">
        <br>
        <div class="col-12">
            <input autocomplete="off" class="form-control" name="search" placeholder="Search"
                   th:value="${search}" type="text">
        </div>
    </div>
</form>
<br>
<ul class="list-group">
    <li class="list-group-item" th:each="user : ${users}">
        <img class="img-thumbnail" style="max-height: 40px; min-height: 40px" th:if="${user.profileImg} != null"
             th:src="'/img/' + ${user.id}"/>
        <a th:href="'/user/' + ${user.id}" th:text="${user.name}"></a>
        <span class="badge badge-primary" th:if="${user.sexabig} == true">Alpha</span>
        <div class="float-right" th:if="${currentUser.isAdmin()}" th:switch="${user.role}">
            <form method="post" th:action="'/user/' + ${user.id} + '/role/2'" th:case="'1'">
                <button class="btn btn-light">
                    <i class="fas fa-chess-pawn"></i>
                </button>
            </form>
            <form method="post" th:action="'/user/' + ${user.id} + '/role/1'" th:case="'2'">
                <button class="btn btn-dark">
                    <i class="fas fa-chess-king"></i>
                </button>
            </form>
        </div>
    </li>
</ul>
<div class="row" th:if="${users.isEmpty()}">
    <div class="col-sm-3" style="margin-bottom: 20px">
        <div class="alert alert-secondary">
            <a>No Users found</a>
        </div>
    </div>
</div>
<div th:if="${currentUser?.isAdmin()}">
    <br>
    <a class="btn btn-primary" href="/register">New User</a>
</div>
