<!DOCTYPE html>
<!--
    @author Wetwer
    @project movie-score
    @date 29.05.2018
-->
<html lang="en" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="noindex" name="robots">

    <meta content="Movie Score" property="og:title"/>
    <meta content="Welcome to MovieScore" property="og:description"/>
    <meta content="text/html" property="og:type"/>
    <meta content="http://movie.scorewinner.ch" property="og:url"/>
    <meta content="https://i.imgur.com/kHO4IKs.png" property="og:image"/>

    <title>MovieScore</title>
    <link href="https://i.imgur.com/kHO4IKs.png" rel="shortcut icon" type="image/png"/>


    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link rel="stylesheet" th:href="'../style_new.css'">
    <link rel="stylesheet" th:href="'../menthe-bootstrap_new.css'">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">

    <style>
        body {
            background: url("https://i.imgur.com/RHuethK.jpg") no-repeat fixed;
            background-size: 100%;
        }

        .nav-logo {
            margin-right: 5px;
            width: 30px;
            height: 30px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm darker">
    <a class="navbar-brand" href="/">
        <img alt="nav brand" class="d-inline-block align-top nav-logo" src="https://i.imgur.com/kHO4IKs.png">
        MovieScore
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler btn"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/movies/1">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/serie">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/list">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/request/create">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/user">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<center>
    <div class="row" style="width: 100%">
        <div class="col-0 col-md-0 col-lg-1"></div>
        <div class="col-12 col-md-12 col-lg-10 nopadding">
            <div class="card card-body darker" style="text-align: left">
                <div class="darker">
                    <h1>WTF are you doing!!! (error)</h1>
                    <img class="img-thumbnail" height="100px" src="https://i.imgur.com/77anNFA.jpg">
                    <p>This shouldnt happen, if this happens often send it to your Admin...</p>
                    <a class="btn btn-primary" href="/">Better go back</a>
                    <br>
                    <br>
                    <div class="card card-body">
                        <table class="table">
                            <tr>
                                <td>Date</td>
                                <td th:text="${timestamp}"/>
                            </tr>
                            <tr>
                                <td>Path</td>
                                <td th:text="${path}"/>
                            </tr>
                            <tr>
                                <td>Error</td>
                                <td th:text="${error}"/>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td th:text="${status}"/>
                            </tr>
                            <tr>
                                <td>Message</td>
                                <td th:text="${message}"/>
                            </tr>
                            <tr>
                                <td>Exception</td>
                                <td th:text="${exception}"/>
                            </tr>
                            <tr>
                                <td>Trace</td>
                                <td>
                                    <pre th:text="${trace}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-0 col-md-0 col-lg-1"></div>
    </div>
</center>
</body>
</html>
