<table>
    <tr>
        <th>Server Type</th>
        <th>Specific</th>
        <th>Key</th>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Professional</td>
        <td>W269N-WFGWX-YVC9B-4J6C9-T83GX</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Professional N</td>
        <td>MH37W-N47XK-V7XM9-C7227-GCQG9</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Enterprise</td>
        <td>NPPR9-FWDCX-D2C8J-H872K-2YT43</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Enterprise N</td>
        <td>DPH2V-TTNVB-4X9Q3-TJR4H-KHJW4</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Education</td>
        <td>NW6C2-QMPVW-D7KKK-3GKT6-VCFB2</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Education N</td>
        <td>2WH4N-8QGBV-H22JP-CT43Q-MDWWJ</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Enterprise 2015 LTSB</td>
        <td>WNMTR-4C88C-JK8YV-HQ7T2-76DF9</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Enterprise 2015 LTSB N</td>
        <td>2F77B-TNFGY-69QQF-B8YKP-D69TJ</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Enterprise 2016 LTSB</td>
        <td>DCPHK-NFMTC-H88MJ-PFHPY-QJ4BJ</td>
    </tr>
    <tr>
        <td>Windows 10</td>
        <td>Enterprise 2016 LTSB N</td>
        <td>QFFDN-GRT3P-VKWWX-X7T3R-8B639</td>
    </tr>
    <tr>
        <td>Windows 7</td>
        <td>Professional</td>
        <td>FJ82H-XT6CR-J8D7P-XQJJ2-GPDD4</td>
    </tr>
    <tr>
        <td>Windows 7</td>
        <td>Professional N</td>
        <td>MRPKT-YTG23-K7D7T-X2JMM-QY7MG</td>
    </tr>
    <tr>
        <td>Windows 7</td>
        <td>Professional E</td>
        <td>W82YF-2Q76Y-63HXB-FGJG9-GF7QX</td>
    </tr>
    <tr>
        <td>Windows 7</td>
        <td>Enterprise</td>
        <td>33PXH-7Y6KF-2VJC9-XBBR8-HVTHH</td>
    </tr>
    <tr>
        <td>Windows 7</td>
        <td>Enterprise N</td>
        <td>YDRBP-3D83W-TY26F-D46B2-XCKRJ</td>
    </tr>
    <tr>
        <td>Windows 7</td>
        <td>Enterprise E</td>
        <td>C29WB-22CC8-VJ326-GHFJW-H9DH4</td>
    </tr>
    <tr>
        <td>Windows 8</td>
        <td>Professional</td>
        <td>NG4HW-VH26C-733KW-K6F98-J8CK4</td>
    </tr>
    <tr>
        <td>Windows 8</td>
        <td>Professional N</td>
        <td>XCVCF-2NXM9-723PB-MHCB7-2RYQQ</td>
    </tr>
    <tr>
        <td>Windows 8</td>
        <td>Enterprise</td>
        <td>32JNW-9KQ84-P47T8-D8GGY-CWCK7</td>
    </tr>
    <tr>
        <td>Windows 8</td>
        <td>Enterprise N</td>
        <td>JMNMF-RHW7P-DMY6X-RF3DR-X2BQT</td>
    </tr>
    <tr>
        <td>Windows 8.1</td>
        <td>Professional</td>
        <td>GCRJD-8NW9H-F2CDX-CCM8D-9D6T9</td>
    </tr>
    <tr>
        <td>Windows 8.1</td>
        <td>Professional N</td>
        <td>HMCNV-VVBFX-7HMBH-CTY9B-B4FXY</td>
    </tr>
    <tr>
        <td>Windows 8.1</td>
        <td>Enterprise</td>
        <td>MHF9N-XY6XB-WVXMC-BTDCT-MKKG7</td>
    </tr>
    <tr>
        <td>Windows 8.1</td>
        <td>Enterprise N</td>
        <td>TT4HM-HN7YT-62K67-RGRQJ-JFFXW</td>
    </tr>
    <tr>
        <td>Windows Server 2008 R2</td>
        <td>Web</td>
        <td>6TPJF-RBVHG-WBW2R-86QPH-6RTM4</td>
    </tr>
    <tr>
        <td>Windows Server 2008 R2</td>
        <td>HPC edition</td>
        <td>TT8MH-CG224-D3D7Q-498W2-9QCTX</td>
    </tr>
    <tr>
        <td>Windows Server 2008 R2</td>
        <td>Standard</td>
        <td>YC6KT-GKW9T-YTKYR-T4X34-R7VHC</td>
    </tr>
    <tr>
        <td>Windows Server 2008 R2</td>
        <td>Enterprise</td>
        <td>489J6-VHDMP-X63PK-3K798-CPX3Y</td>
    </tr>
    <tr>
        <td>Windows Server 2008 R2</td>
        <td>Datacenter</td>
        <td>74YFP-3QFB3-KQT8W-PMXWJ-7M648</td>
    </tr>
    <tr>
        <td>Windows Server 2008 R2</td>
        <td>for Itanium-based Systems</td>
        <td>GT63C-RJFQ3-4GMB6-BRFB9-CB83V</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>Standard</td>
        <td>BN3D2-R7TKB-3YPBD-8DRP2-27GG4</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>Standard N</td>
        <td>8N2M2-HWPGY-7PGT9-HGDD8-GVGGY</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>Single Language</td>
        <td>2WN2H-YGCQR-KFX6K-CD6TF-84YXQ</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>Country Specific</td>
        <td>4K36P-JN4VD-GDC6V-KDT89-DYFKP</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>Server Standard</td>
        <td>XC9B7-NBPP2-83J2H-RHMBY-92BT4</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>MultiPoint Standard</td>
        <td>HM7DN-YVMH3-46JC3-XYTG7-CYQJJ</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>MultiPoint Premium</td>
        <td>XNH6W-2V9GX-RGJ4K-Y8X6F-QGJ2G</td>
    </tr>
    <tr>
        <td>Windows Server 2012</td>
        <td>Datacenter</td>
        <td>48HP8-DN98B-MYWDG-T2DCC-8W83P</td>
    </tr>
    <tr>
        <td>Windows Server 2012 R2</td>
        <td>Server Standard</td>
        <td>D2N9P-3P6X9-2R39C-7RTCD-MDVJX</td>
    </tr>
    <tr>
        <td>Windows Server 2012 R2</td>
        <td>Datacenter</td>
        <td>W3GGN-FT8W3-Y4M27-J84CP-Q3VJ9</td>
    </tr>
    <tr>
        <td>Windows Server 2012 R2</td>
        <td>Essentials</td>
        <td>KNC87-3J2TX-XB4WP-VCPJV-M4FWM</td>
    </tr>
    <tr>
        <td>Windows Server 2016</td>
        <td>Datacenter</td>
        <td>CB7KF-BWN84-R7R2Y-793K2-8XDDG</td>
    </tr>
    <tr>
        <td>Windows Server 2016</td>
        <td>Standard</td>
        <td>WC2BQ-8NRM3-FDDYY-2BFGV-KHKQY</td>
    </tr>
    <tr>
        <td>Windows Server 2016</td>
        <td>Essentials</td>
        <td>JCKRF-N37P4-C2D82-9YXRT-4M63B</td>
    </tr>
</table>
