<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg nav-top-row" style="background-color: #282c34">
    <a class="navbar-brand text-white main-nav-head" href="/">
        <img alt="nav brand" class="d-inline-block align-top nav-logo" src="https://i.imgur.com/kHO4IKs.png">
        MovieScore
    </a>
    <a aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
       class="navbar-toggler link-btn" data-target="#navbarSupportedContent" data-toggle="collapse" href="#"
       style="padding-left: 1rem;padding-right: 1rem;">
        <i class="fas fa-bars"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 1rem;">
        <div class="navbar-nav mr-auto">
            <ul class="navbar-nav mr-auto" th:if="${currentUser} != null">
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/movies/1">Movies</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/serie">Series</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/list">Lists</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/request/create">Request</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/user">Users</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/chat">Chat</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/blog">Blog</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/about">About</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/download">Download</a>
                </li>
                <li class="nav-item main-nav">
                    <a class="nav-link text-white" href="/upload">Upload</a>
                </li>
                <th:block th:if="${page} != 'login'">
                    <li class="nav-item main-nav" th:if="${currentUser?.isAdmin()}">
                        <a class="nav-link text-white" href="/group">Groups</a>
                    </li>
                    <li class="nav-item main-nav" th:if="${currentUser?.isAdmin()}">
                        <a class="nav-link text-white" href="/settings">Control Center</a>
                    </li>
                </th:block>
            </ul>
        </div>
        <br>
        <ul class="navbar-nav user-la-nav">
            <li>
                <div class="nav-link" th:include="'static/nav/currentuser.html'"></div>
            </li>
        </ul>
        <br>
    </div>
</nav>
