<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<ul class="navbar-nav mr-auto" th:if="${currentUser} != null">
    <li class="nav-item right-nav">
        <a class="navbar-brand text-white" href="/">
            <img alt="nav brand" class="d-inline-block align-top nav-logo" src="https://i.imgur.com/kHO4IKs.png">
            MovieScore
        </a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/movies/1">Movies</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/serie">Series</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/list">Lists</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/request/create">Request</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/user">Users</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/blog">Blog</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/about">About</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/download">Download</a>
    </li>
    <li class="nav-item right-nav">
        <a class="nav-link text-white" href="/upload">Upload</a>
    </li>
    <th:block th:if="${page} != 'login'">
        <li class="nav-item right-nav" th:if="${currentUser?.isAdmin()}">
            <a class="nav-link text-white" href="/group">Groups</a>
        </li>
        <li class="nav-item right-nav" th:if="${currentUser?.isAdmin()}">
            <a class="nav-link text-white" href="/settings">Control Center</a>
        </li>
    </th:block>
    <li class="nav-item right-nav-person">
        <div th:include="'static/nav/currentuser.html'"></div>
    </li>
</ul>

