<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<a th:href="'/movie/' + ${like.movie.id}">
    <div class="card moviecard">
        <div>
            <span th:text="${like.movie.quality}" class="quality-badge"></span>
            <img th:src="${like.movie.caseImg}" class="card-img-top">
        </div>
        <div class="card-body nodec">
            <h5 th:text="${like.movie.title}" class="card-title"></h5>
            <a>
                <span style="color: #D7D700;" class="fa fa-star checked"></span>
                <span th:text="${like.movie.voteAverage}"></span>
            </a>
            <a th:text="${like.movie.year}" class="float-right"></a>
        </div>
    </div>
</a>