<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<a th:href="'/movie/' + ${like.movie.id}">
    <div class="card moviecard">
        <div>
            <span class="quality-badge-red" th:if="${like.movie.isBroken()}" th:text="${like.movie.quality}"></span>
            <span class="quality-badge" th:if="!${like.movie.isBroken()}" th:text="${like.movie.quality}"></span>
            <img class="card-img-top lazy" src="https://i.imgur.com/FrHW1dA.png" th:data-src="${like.movie.caseImg}">
        </div>
        <div class="card-body nodec">
            <h6 class="card-title" th:text="${like.movie.title}"></h6>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${like.movie.voteAverage}"></span>
            </a>
            <a class="float-right" th:text="${like.movie.year}"></a>
        </div>
    </div>
</a>
