<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<a th:href="'/list/' + ${timeline.id}">
    <div class="card moviecard">
        <div th:if="${!timeline.listMovies.isEmpty()}">
            <img th:src="${timeline.listMovies.get(0).movie.caseImg}" class="card-img-top">
        </div>
        <div class="card-body nodec">
            <h5 th:text="${timeline.title}" class="card-title"></h5>
            <small class="text-muted">
                <a>List created by </a>
                <a th:text="${timeline.user.name}" th:href="'/user/' + ${timeline.user.id}"></a>
            </small>
            <a th:if="${currentUser.isAdmin()}" class="btn btn-primary float-right"
               th:href="'/timeline/edit/' + ${timeline.id} ">Edit</a>
        </div>
    </div>
</a>
