<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<a th:href="'/list/' + ${timeline.id}">
    <div class="card moviecard">
        <div th:if="${!timeline.listMovies.isEmpty()}">
            <img class="card-img-top" th:src="${timeline.listMovies.get(0).movie.caseImg}">
        </div>
        <div class="card-body nodec">
            <h5 class="card-title" th:text="${timeline.title}"></h5>
            <small class="text-muted">
                <a>List created by </a>
                <a th:href="'/user/' + ${timeline.user.id}" th:text="${timeline.user.name}"></a>
            </small>
            <a class="btn btn-primary float-right"
               th:href="'/timeline/edit/' + ${timeline.id} " th:if="${currentUser} == ${timeline.user} OR ${currentUser.isAdmin()}">Edit</a>
        </div>
    </div>
</a>
