<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<a th:href="'/movie/' + ${movie.id}">
    <div class="card moviecard border-light">
        <div>
            <span th:text="${movie.quality}" class="quality-badge"></span>
            <img th:src="${movie.caseImg}" class="card-img-top">
        </div>
        <div class="card-body nodec">
            <h5 th:text="${movie.title}" class="card-title"></h5>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${movie.voteAverage}"></span>
            </a>
            <a th:text="${movie.year}" class="float-right"></a>
        </div>
    </div>
</a>