<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<a th:href="'/movie/' + ${movie.id}">
    <div class="card moviecard">
        <div>
            <span th:if="${movie.isBroken()}" class="quality-badge-red" th:text="${movie.quality}"></span>
            <span th:if="!${movie.isBroken()}" class="quality-badge" th:text="${movie.quality}"></span>
            <img class="card-img-top" th:src="${movie.caseImg}">
        </div>
        <div class="card-body nodec">
            <h6 class="card-title" th:text="${movie.title}"></h6>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${movie.voteAverage}"></span>
            </a>
            <a class="float-right" th:text="${movie.year}"></a>
        </div>
    </div>
</a>
