<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<a th:href="'/serie/' + ${serie.id}">
    <div class="card moviecard">
        <img th:src="${serie.caseImg}" class="card-img-top">
        <div class="card-body nodec">
            <h5 th:text="${serie.title}" class="card-title"></h5>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${serie.voteAverage}"></span>
            </a>
            <a th:text="'Seasons: ' + ${serie.seasons.size()}" class="float-right"></a>
        </div>
    </div>
</a>