<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<a th:href="'/serie/' + ${serie.id}">
    <div class="card moviecard">
        <img class="card-img-top" th:src="${serie.caseImg}">
        <div class="card-body nodec">
            <h6 class="card-title" th:text="${serie.title}"></h6>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${serie.voteAverage}"></span>
            </a>
            <a class="float-right" th:text="'Seasons: ' + ${serie.seasons.size()}"></a>
        </div>
    </div>
</a>
