<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<a th:href="'/' + ${startedVideo.videoModel.type} + '/' + ${startedVideo.videoModel.id}">
    <div class="card moviecard">
        <div>
            <span class="quality-badge" th:text="${startedVideo.videoModel.quality}"></span>
            <form class="remove-time" method="post" th:action="'/time/delete/' + ${startedVideo.time.id}">
                <button class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Reset Time"
                        type="submit"><i class="fas fa-fast-backward"></i></button>
            </form>
            <img class="card-img-top" th:src="${startedVideo.videoModel.caseImg}">
        </div>
        <div class="card-body nodec">
            <h6 class="card-title" th:text="${startedVideo.videoModel.title}"></h6>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${startedVideo.videoModel.voteAverage}"></span>
            </a>
            <a class="float-right" th:text="${startedVideo.videoModel.year}"></a>
            <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25"
                     class="progress-bar" role="progressbar" th:style="'width: ' + ${startedVideo.progress} + '%'">
                </div>
            </div>
        </div>
    </div>
</a>
