<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<a th:href="'/movie/' + ${startedVideo.videoModel.id}">
    <div class="card moviecard">
        <div>
            <span th:text="${startedVideo.videoModel.quality}" class="quality-badge"></span>
            <form th:action="'/time/delete/' + ${startedVideo.time.id}" method="post" class="remove-time">
                <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Reset Time"><i class="fas fa-fast-backward"></i></button>
            </form>
            <img th:src="${startedVideo.videoModel.caseImg}" class="card-img-top">
        </div>
        <div class="card-body nodec">
            <h5 th:text="${startedVideo.videoModel.title}" class="card-title"></h5>
            <a>
                <span class="fa fa-star checked" style="color: #D7D700;"></span>
                <span th:text="${startedVideo.videoModel.voteAverage}"></span>
            </a>
            <a th:text="${startedVideo.videoModel.year}" class="float-right"></a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${startedVideo.progress} + '%'"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</a>